.site-footer .newsletter .wrapper form {
  clear: both;
}
.site-footer .newsletter .wrapper form .formWrap.captchann {
  margin-top: 1rem;
  display: block;
}
.site-footer .newsletter .wrapper form .formWrap.captchann #recaptcha3 > div {
  display: block;
  margin: 1.5rem auto 0;
}
.site-footer .newsletter .wrapper form .formSubmit {
  margin-top: 1.5rem;
}
.outers_page_static .sub_page_static .mw906 img {
  max-width: 100%;
}
#recaptcha2 > div {
  width: 250px;
  overflow: hidden;
}
.box_rgh_enquiryBlue .middles form .form-group textarea.form-control::placeholder {
  color: #225b8f;
}
.g-recaptcha {
  transform: scale(0.82);
  transform-origin: 0 0;
}
.back_surgeons_home .box_listing_surgeons1 .items .picture,
.back_surgeons_home .box_listing_surgeons1 .items .picture img {
  max-width: 100%;
  width: 100%;
  max-height: 283px;
}
.outer-block-feeds {
  margin: 0;
  clear: both;
}
.outer-block-feeds .block_feed {
  display: block;
}
.listing_news_default .items.featured {
  max-height: 427px;
}
.listing_news_default .items.featured .picts img {
  width: 100%;
  max-width: 100%;
  min-height: 427px;
  height: auto;
  max-height: 427px;
}
.listing_news_default .items {
  max-height: 220px;
  overflow: hidden;
}
.listing_news_default .items article .title {
  overflow: hidden;
  clear: left;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.back_surgeons_home .box_listing_surgeons1 .items {
  height: 370px;
}
@media (max-width: 815px) and (max-height: 390px) {
  .contact_form {
    padding: 0 20px;
  }
}
@media (max-width: 767px) {
  footer.foot {
    padding-bottom: 3.5rem;
  }
  .content-text iframe,
  .content-text.page_faq_content iframe,
  .outers_page_static .sub_page_static .mw906 iframe {
    width: 100%;
    height: auto;
    margin-bottom: 1.2rem;
  }
  .content-text p {
    font-size: 17px;
  }
  .content-text span {
    font-size: 17px;
    margin-bottom: 1rem;
  }
  .contact_form {
    padding: 0 20px;
  }
  .outers_page_static .sub_page_static .left_cont {
    overflow-x: auto;
  }
}
