/*----------------- Responsive ---------------------*/
@media (max-width: 1601px){
	
	.outers_blck_fcs .h90{
		height: 50px;
	}

}

@media (max-width: 1280px){
	
}

/* Large desktop */
@media (max-width : 1135px){
	
	.container{
		padding: 0 15px;
		width: auto;
	}

}

/*ipad width*/
@media (max-width : 1090px){
	


}

/*(max-width : 1024px) and*/

@media (max-width : 1002px) {
	


}

@media (max-width: 980px){
	
	

}
 
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
	
	

}

@media (max-width: 768px){
	
}
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px), (max-width: 800px) {

}

@media (min-width: 768px){
	
	

}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {

	header.head{
		background: none; height: auto;
	}
	header.head .navbar-default{
		padding-bottom: 0; margin-bottom: 0;
		border-top: 9px solid #364c9d; border-radius: 0px;
	}
	

}

@media (max-width: 600px) {
	
}

/* Landscape phones and down */
@media (max-width: 480px) {
	


}

@media (max-width: 360px) {
	
	

}

@media (max-width: 358px) {
	


}

@media (max-width: 319px) {

}