/*----------------- Responsive ---------------------*/
@media (min-width: 1601px){
	
	header.head .backs_respons{
		max-width: 1600px; margin: 0 auto;
	}
	.sect_cfcs .item .carousel-caption{
		min-height: 62%;
	}
	.blocks_txt_infcs{
		top: 0%;
		bottom: inherit;
	}

}

@media (max-width: 1599px){
	
	header.head .information_social_net a i.fa{
		font-size: 12px;
	}
	header.head .information_social_net a {
	    width: 27px;
	    height: 27px;
	}

	header.head .information_headerphone i.fa,
	header.head .information_headerphone span,
	header.head .information_headerphone{
		// font-size: 12px;
	}
	header.head .information_social_net {
	    padding-left: 10px;
	}
	header.head .top_headermenu.pl-24{
		padding-left: 10px;	
	}
	header.head .top_headermenu ul li a {
	    font-size: 12px;
	}
	header.head .sMenu_header_right {
	    padding-right: 30px;
	}
	header.head .sMenu_header_right ul{
		padding-top: 4px;
	}
	header.head .sMenu_header_right ul li {
	    padding: 0 6px;
	}
	header.head .sMenu_header_right ul li a {
	    font-size: 14px;
	}
	header.head .sMenu_header_right ul li a span{
		width: 13px !important;
		height: 13px !important;
		background-size: 100% 100% !important;
	}
	.morph header.head .top-menu ul li a,
	header.head .top-menu ul li a{
		font-size: 15px;
	}
	header.head .top-menu ul li{
		// width: 128.5px;
	}
	header.head .top-menu ul li.dropdown ul.dropdown-menu li a{
		font-size: 15px;
	}
	.listing_banner_default .items article .desc p{
		padding: 0 10px;
	}

}

@media (max-width: 1380px){

	.wrapper{
		/*margin: 0 3em;*/
	}
	.container{
		max-width: inherit;
		width: 100%;

		border: none;
		padding: 0 2em;
	}
	header.head .logo_header_web{
		left: -28px;
	}
	header.head .right_header{
		padding-left: 180px;
	}
	header.head .top-menu ul li{
		margin: 0 7px;
	}
	.outer-block-news .blocks_news_data{
		margin: 0;
	}
	.outer-block-news .blocks_news_data .items{
		padding: 0 0.6em;
	}
	.morph header.head .bottom_header{
		padding-left: 30px;
	}
	.morph header.head .top-menu ul li{
		width: auto;
	}
	.morph header.head .top-menu ul li {
	    margin: 0 13px;
	}
	.outers_page_static .sub_page_static .left_cont{
		padding-right: 1.5em;
	}
	header.head .information_headerphone{
		padding-top: 0;
	}

}

@media (max-width: 1300px) and (min-width: 1200px){
	
	header.head .information_social_net a i.fa{
		font-size: 10px;
	}
	header.head .information_social_net a {
	    width: 24px;
	    height: 24px;
	}
	header.head .information_social_net a:hover{ text-decoration: none; }
	header.head .information_social_net a:hover i.fa{
		text-decoration: none;
	}
	header.head .top_headermenu ul li a {
	    font-size: 11px;
	}
	header.head .information_headerphone{
		font-size: 11px;
	}
	header.head .sMenu_header_right ul li a {
	    font-size: 13px;
	}
	header.head .sMenu_header_right ul li a span{
		width: 12px !important; height: 12px !important;
	}
	header.head .sMenu_header_right span.icon-basket-h{
		margin-top: 3px;
	}
	header.head .sMenu_header_right span.icon-profile-h{
		margin-top: 2px;
	}
	header.head .sMenu_header_right span.icon-pencil-h{
		margin-top: 2px;
	}
	header.head .top-menu ul li.dropdown ul.dropdown-menu li a,
	header.head .top-menu ul li a{
		font-size: 14px;
	}
	header.head .top-menu ul li {
	    width: 119px;
	}

}

@media (max-width: 1290px) {

	.sub_page.start_journey .block_default_rightmenustatic ul{
		max-width: 320px;
	}
	.sub_page.start_journey .block_default_rightmenustatic ul li{
		width: 100%; overflow: hidden;
	}
	.sub_page.start_journey .block_default_rightmenustatic ul li a span.step{
		width: 25%; 
		font-size: 13px;
	}
	.sub_page.start_journey .block_default_rightmenustatic ul li a span.name{
		width: 75%; text-align: left; 
		font-size: 14px;
		float: left;
		padding-top: 1.5em;
	}

}

@media (max-width: 1200px){
	
	.wrapper{margin: 0px;}
	body { 
		width: 100%;
	}
	.container{
		width: 100%;
		border: none;
		padding: 0 15px;
		max-width: inherit;
	}

	.back_pattern_purple_bottom_slider .inside_text span.top{
		font-size: 17px;
	}
	.back_pattern_purple_bottom_slider .inside_text .box_filter_center form .form-group .selection select{
		width: 220px;
	}
	.back_pattern_purple_bottom_slider .inside_text .box_filter_center form button.btn_submit_custom{
		width: 220px;
		background-size: 100% 100%;
	}
	.back_pattern_purple_bottom_slider .inside_text .box_filter_center p{
		font-size: 16px;
	}

	.box_listing_surgeons1 .items{
		margin: 0 auto;
	}
	.back_surgeons_home .box_listing_surgeons1{
		// max-width: 870px; 
		max-width: inherit; 
		margin: 0px auto;
	}
	.back_surgeons_home .tops h6{
		font-size: 23px;
	}
	.back_surgeons_home .tops h5.smalls{
		font-size: 17px;
	}

	section.back_home2.mh719 .insd .tops h6,
	.box_banner_home .tops h6.sub_title{ font-size: 23px; }
	section.back_home2.mh719 .insd .tops p{
		font-size: 32px;
	}
	section.back_home2.mh719 .insd .tops p span{
		font-size: 40px;
	}

	.listing_banner_default .items{
		padding: 0 0.8em;
	}
	section.back_home2.mh719 .insd .mdl .list_step_surgery_default ul li .items article .titles{
		font-size: 16px;
	}
	.listing_news_default .items article .title{
		font-size: 12px; max-height: 32px; overflow: hidden;
	}
	.listing_news_default .items.featured article .title{
		max-height: inherit; overflow: none;
	}
	.listing_news_default .items article span.dates{
		font-size: 12px;
	}
	.listing_news_default .items.featured article .title{
		font-size: 15px;
	}
	.back_grey_pattern, .blocks_news_home.mh850{
		min-height: 740px;
	}
	.blocks_news_home .tops h6{
		font-size: 23px;
	}
	.blocks_news_home .tops h5{
		font-size: 30px;
	}

	footer.foot span.sub_footer{
		font-size: 15px;
	}

	footer.foot .footers_info dl dt,
	footer.foot .footers_info dl dd,
	footer.foot .menu_footer ul li a{
		font-size: 14px;
	}
	footer.foot .social_footer a i.fa{
		font-size: 13px;
	}
	footer.foot .social_footer a{
		width: 28px; height: 28px;
	}

	footer.foot .t-copyrights{
		text-align: right;
	}

	body{
		overflow-x: hidden;
	}

	header.head .backs_respons{
		margin: 0 15px;
	}
	.listing_banner_default .items article .desc p{
		font-size: 14px;
	}
	header.head .information_headerphone a{
		color: #faae7d;
	}
	header.head .information_headerphone a:hover{ text-decoration: none; }

}

@media (max-width: 1199px){

	header.head{
		background: none;
		background-color: #fff;
		height: auto;
		width: 100%;
		border-bottom: 3px solid #7ecdea;
		position: relative;
		z-index: 5500;
	}
	header.head .logo_header_web{
		position: relative; top: inherit; left: inherit;
	}
	.back_pattern_purple_bottom_slider{
		height: auto;
	}
	.back_pattern_purple_bottom_slider .inside_text .box_filter_center{
		margin: 0 auto;
		max-width: 880px;
	}
	.back_pattern_purple_bottom_slider .inside_text .box_filter_center form .form-group{
		margin-bottom: 15px;
	}
	.outer-block-news .blocks_news_data .items .info .titles{
		height: 47px;
		overflow: hidden;
	}

	.morph header.head .backs_respons .logo_header_web{
		position: relative;
		top: -10px; height: 75px;
	}
	.morph header.head .backs_respons .logo_header_web img{
		max-height: 85px;
	}

}

/* Large desktop */
@media (max-width : 1135px){
	
	/*.right_header .top_header{ display: none; }
	.right_header .bottom_header{ display: none; }*/

	.surgeons_detail_page .blocks_top_detail_surgeons .picture_doctor{
		float: left;
	}
	.surgeons_detail_page .blocks_top_detail_surgeons .right_conts{
		float: left; max-width: 600px;
	}
	.surgeons_detail_page .blocks_top_detail_surgeons .pos_tops .right_conts .titles span.certification_dct{
		font-size: 15px; padding-top: 3px;
		white-space: inherit;
		max-width: inherit;
		overflow: inherit;
		clear: inherit; 
		text-overflow: inherit;
	}
	.surgeons_detail_page .blocks_top_detail_surgeons .pos_tops .blocks_social_surgeons.rights_cSoc ul li a i.fa {
		font-size: 28px;
	}
	.blocks_social_surgeons.rights_cSoc{
		max-width: 160px; float: right;
	}
	.blocks_social_surgeons.rights_cSoc ul{
		margin: 0; margin-right: 0; margin-bottom: 0;
	}
	.blocks_social_surgeons.rights_cSoc ul li{
		width: 30%;
	}
	.sub_page.start_journey .blocks_journey.step_5 .middle .list_member_step5 .items .description{
		padding-left: 20px;
	}

}
/*(max-width : 1024px) and*/

@media (min-width : 1003px) {
	
	.headers-responss{ display: none; }	
	.hidden-headersetku{ display: block; }

}

@media (max-width : 1002px) {

	.container{
		width: 100%;
		border: none;
		padding: 0 15px;
	}
	header.head{

	}

	.back_pattern_purple_bottom_slider .inside_text span.top{
		font-size: 15px;
	}
	.blocks_txt_infcs h3{
		font-size: 38px;
	}
	.blocks_txt_infcs h6{
		font-size: 28px;
	}
	.insides_c_content_surgeons .middles .box_listing_surgeons2 .items .desc .doctor_info p{
		font-size: 13px;
	}
	.insides_c_content_surgeons .middles .box_listing_surgeons2 .items .desc .doctor_info span.names{
		font-size: 16px;
	}
	.box_listing_surgeons2 .desc .doctor_info .treatment-area .body-area{
		font-size: 13px;
	}
	.insides_c_content_surgeons .middles .box_listing_surgeons2 .items .desc,
	.insides_c_content_surgeons .middles .box_listing_surgeons2 .items{
		height: auto;
	}
	.insides_c_content_surgeons .middles .box_listing_surgeons2 .items .desc .doctor_info{}
	.insides_c_content_surgeons .middles .box_listing_surgeons2 .items .desc .doctor_info .fright{ float: none; }
	.insides_c_content_surgeons .middles .box_listing_surgeons2 .items .desc .doctor_info .height-15{
		height: 0;
	}

	.surgeons_detail_page .blocks_top_detail_surgeons .picture_doctor{
		float: left;
	}
	.surgeons_detail_page .blocks_top_detail_surgeons .right_conts{
		float: left; 
		max-width: 600px;
	}
	.blocks_social_surgeons.rights_cSoc{
		float: none;
		max-width: inherit; 
	}
	.surgeons_detail_page .blocks_top_detail_surgeons .pos_tops .blocks_social_surgeons.rights_cSoc ul li{
		width: auto;
	}
	.surgeons_detail_page .blocks_top_detail_surgeons .right_conts .descs{
		white-space: inherit;
		max-width: inherit;
		overflow: inherit;
		clear: inherit; 
		text-overflow: inherit;
	}
	.surgeons_detail_page .blocks_top_detail_surgeons .pos_tops .right_conts .descs .blocks_social_surgeons ul li{
		padding: 0 7px;
	}
	.surgeons_detail_page .blocks_top_detail_surgeons .pos_tops .right_conts .descs .blocks_social_surgeons ul li,
	.surgeons_detail_page .blocks_top_detail_surgeons .pos_tops .right_conts .descs .blocks_social_surgeons ul li a{
		font-size: 14px;
	}
	.surgeons_detail_page .blocks_top_detail_surgeons .pos_tops .right_conts .descs .blocks_social_surgeons ul li{
		padding-left: 0;
	}
	.blocks_social_surgeons.rights_cSoc ul,
	.blocks_social_surgeons.rights_cSoc{
		text-align: left;
	}
	.blocks_social_surgeons.rights_cSoc{
		padding-top: 10px;
		padding-left: 140px;
	}
	.blocks_social_surgeons.rights_cSoc ul li:first-child{
		padding-left: 0;
	}
	.surgeons_detail_page .order-default .padding-left-30,
	.surgeons_detail_page .insides_c_content_surgeons.s_detail .sBox_surgeons_details #about .padding-left-30{
		padding-left: 0;
	}
	.surgeons_detail_page .illustration_picture .back_picture .desc_info h6.cat_dn{
		font-size: 23px;
	}
	.surgeons_detail_page .blocks_top_detail_surgeons .pos_tops .right_conts .descs p, 
	.surgeons_detail_page .blocks_top_detail_surgeons .pos_tops .right_conts .descs span{
		font-size: 15px;
	}

	.outers_pg_banner.pages_advertise2 .blocks_txt_infcs{
		position: relative;
		background-color: rgba(174, 182, 185, 0.07);
		padding: 5% 0;
		top: inherit;
	}
	.outers_pg_banner.pages_advertise2 .page-banner .blocks_txt_infcs h3{
		font-size: 30px;
	}
	.outers_pg_banner.pages_advertise2 .page-banner .blocks_txt_infcs p{
		font-size: 20px;
	}
	.social-media.cons_sett{
		display: none;
	}
	.blocks_right_stepmenu_inside{
		padding-left: 0;
	}
	
}

@media (max-width: 991px){
	
	.listing_news_default .items.featured,
	.listing_news_default .items{
		margin-bottom: 1.5em;
		max-width: inherit;
	}
	.listing_news_default .items .picts img{
		width: 100%;
	}
	.details_cont_articles .left_cont p{
		text-align: justify;
	}
	.details_cont_articles .left_cont p img{
		margin: 0px;
		max-width: 100%; 
	}

	.back_pattern_purple_bottom_slider{
		position: relative;
		bottom: inherit; left: inherit;
		padding-bottom: 2.2em;
		border-bottom: 3px solid #aeb6b9;
	}
	.h100per{
		height: auto;
	}
	.sect_cfcs .fill{
		min-height: 45%;
		padding-bottom: 60%;
	}
	.back_surgeons_home .h65{
		height: 60px;
	}
	.back_surgeons_home .tops .block_nav ul li{
		width: 20%;
	}
	.back_surgeons_home .tops .block_nav ul li a{
		font-size: 16px;
	}
	.middles.outer-block-news .blocks_news_data .items{
		max-width: 614px;
		margin: 0 auto;
		padding-bottom: 1.5em;
	}

	// homepage
	.back_pattern_purple_bottom_slider .form-inline .form-group{
		display: block; float: none; margin-right: 0;
	}
	.back_pattern_purple_bottom_slider .form-inline .form-group,
	.back_pattern_purple_bottom_slider .box_filter_center form.form-inline .form-group{
		display: block;
		float: none;
		margin-bottom: 15px; margin-right: 0; padding-right: 0;
	}
	.back_pattern_purple_bottom_slider .inside_text .box_filter_center form .form-group input[type=text],
	.back_pattern_purple_bottom_slider .inside_text .box_filter_center form .form-group select{
		width: 100%;
	}
	.back_pattern_purple_bottom_slider .inside_text .box_filter_center form .d-inline{ display: block; }
	.back_pattern_purple_bottom_slider .inside_text .box_filter_center form .easy-autocomplete{
		width: 100% !important;
	}
	footer.foot .lgo_footer{
		display: block;
		margin: 0 auto; text-align: center;
		padding-bottom: 1.5em;
	}
	footer.foot .lgo_footer img{
		display: block;
		margin: 0 auto; text-align: center;
	}
	footer.foot .t-footers{
		text-align: center;
	}
	footer.foot .social-media{
		float: none; text-align: center;
	}

	.outers_page_static .sub_page_static .left_cont{
		padding-right: 0;
		border-right: 0;
	}
	.blocks_right_stepmenu_inside,
	.outers_page_static .sub_page_static .right_cont{
		padding-bottom: 2.5em;
		border-bottom: 2px solid #989898;
		margin-bottom: 3em;
		text-align: center;
	}
	.blocks_right_stepmenu_inside{
		margin-top: 6em; margin-bottom: 0; border-bottom: 0;
	}
	.blocks_right_stepmenu_inside > div{
		margin-right: 0px !important;
	}
	.blocks_right_stepmenu_inside > div > p a{
		padding-bottom: 2em; display: block;
	}
	.sub_page.start_journey{
		padding-bottom: 2em;
	}
	.site-footer .newsletter .wrapper{
		padding: 0 2em;
	}

	.outers_page_static .sub_page_static .right_cont .right_sub_menu ul li,
	.outers_page_static .sub_page_static .right_cont .padding-left-25{
		padding-left: 0;
	}
	.outers_page_static .sub_page_static .right_cont .right_sub_menu ul li{
		display: block;
		margin: 6px 0;
	}
	.outers_page_static .sub_page_static .right_cont .right_sub_menu ul li.active, 
	.outers_page_static .sub_page_static .right_cont .right_sub_menu ul li:hover{
		border-left: 0;
		border-bottom: 0;
	}
	.outers_page_static .sub_page_static .right_cont .right_sub_menu ul li a{
		padding: 5px 0;
		display: inline-block;
	}
	.outers_page_static .sub_page_static .right_cont .right_sub_menu ul li.active a, 
	.outers_page_static .sub_page_static .right_cont .right_sub_menu ul li:hover a{
		border-bottom: 4px solid #7ecdea;
	}

	.outers_page_static .sub_page_static .mw906{
		max-width: inherit;
	}
	.outers_pg_banner .page-banner{
		min-height: 280px;
		height: auto;
	}
	.outers_pg_banner .page-banner .steps-title h1, 
	.outers_pg_banner .page-banner .steps-title h2, 
	.outers_pg_banner .page-banner .steps-title h3{
		font-size: 34px;
	}
	.outers_pg_banner .page-banner .steps-title h3{
		font-size: 21px;
	}
	.sub_page.start_journey .block_default_rightmenustatic ul{
		max-width: 325px; 
		margin: 0 auto;
	}
	.list_category_step3 .items{
		padding: 0 0.5em;
	}
	.sub_page.start_journey .blocks_journey.step_7 .middle .list_organised_step7 .items .descriptions{
		padding-left: 1.5em;
	}
	.lists_procedures_nw .items .middles .desc{
		padding: 0px;
		text-align: center;
		margin-top: 1.3em;
		padding-top: 2em;
		border-top: 1px solid #7ecdea;
	}
	.lists_procedures_nw .items .middles .desc ul,
	.lists_procedures_nw .items .middles .desc ol{
		margin: 0; margin-right: 0;
	}
	.lists_procedures_nw .items.type2 .middles .desc, .lists_procedures_nw .items.type2 .middles .desc ul, 
	.lists_procedures_nw .items.type2 .middles .desc ul li,
	.lists_procedures_nw .items .middles .desc ul li{
		text-align: center;
	}
	.lists_procedures_nw .items.type2 .middles .desc, .lists_procedures_nw .items.type2 .middles .desc{
		padding-top: 0;
		border-top: 0;
		margin-top: 0;
		padding-bottom: 2em;
		margin-bottom: 1.6em;
		border-bottom: 1px solid #7ecdea;
	}
	.lists_procedures_nw .items .middles{
		border: 0px;
	}
	.info_bottom_proced_details .col-md-9 p{
		font-size: 14px;
	}
	.wrapper-cont-procedures .block_procedures_con_details h3.title{
		font-size: 40px;
	}
	.packages-container .wrapper .package-list .package{
		float: none;
		width: auto;
		max-width: 560px;
		margin: 0 auto;
		margin-bottom: 3em;
		position: relative;
		z-index: 5;
	}
	.packages-container .wrapper .package-list .package.gold{
		margin-top: 8em;
	}
	.outers_page_static .sub_page_static .content-text.insides_static h3.tagline{
		font-size: 45px;
	}
	.listing_news_default .items article{
		padding: 10px;
	}
	.listing_news_default .items article .title, .listing_news_default .items article .title a{
		font-size: 12px;
	}
	.listing_news_default .items article span.dates{
		font-size: 10px;
	}

	.listing_news_default .items.featured article .title, .listing_news_default .items.featured article .title a{
		font-size: 15px;
	}
	.listing_news_default .items.featured article span.dates{
		font-size: 11px;
	}
	.inside_contact_page .rights_content {
	    clear: both;
	    border-left:0;
	    padding-left: 0 !important;
	    padding-top: 2em;
	    margin-top: 1em;
	    border-top: 2px solid #989898;
	}
	
	
	// sorting div
	.start_journey .blocks_journey .middle > .row,
	.outers_page_static .sub_page_static .insides_static > .row{
		display: -webkit-flexbox;
		display: -ms-flexbox;
		display: -webkit-flex;
		-webkit-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
	}
	@supports (flex-wrap: wrap) {
	.start_journey .blocks_journey .middle > .row,
	.outers_page_static .sub_page_static .insides_static > .row{
	  	display: -webkit-flexbox;
		display: -ms-flexbox;
		display: -webkit-flex;
		-webkit-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;

	    display: flex;
		width: 100%;
	  }
	}
	
	.start_journey .blocks_journey .middle > .row > .col-md-9,
	.start_journey .blocks_journey .middle > .row > .col-md-3,

	.outers_page_static .sub_page_static .insides_static > .row > .col-md-9, 
	.outers_page_static .sub_page_static .insides_static > .row > .col-md-3{
	  display: inline-block;
	  width: 100%;
	  float: none;
	}
	
	.start_journey .blocks_journey .middle > .row > .col-md-9,
	.outers_page_static .sub_page_static .insides_static > .row > .col-md-9{
		-webkit-flex-order: 2;
		-ms-flex-order: 2;
		-webkit-order: 2;
		order: 2;
	}
	.start_journey .blocks_journey .middle > .row > .col-md-3,
	.outers_page_static .sub_page_static .insides_static > .row > .col-md-3{
		-webkit-flex-order: 1;
		-ms-flex-order: 1;
		-webkit-order: 1;
		order: 1;
	}

	/* disable blog*/
	.outers_page_static.Blog_details .sub_page_static .insides_static > .row{
		display: -webkit-flexbox;
		display: -ms-flexbox;
		display: -webkit-flex;
		-webkit-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
	}
	@supports (flex-wrap: wrap) {
	.outers_page_static.Blog_details .sub_page_static .insides_static > .row{
	  	display: -webkit-flexbox;
		display: -ms-flexbox;
		display: -webkit-flex;
		-webkit-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;

	    display: flex;
		width: 100%;
	  }
	}
	.outers_page_static.Blog_details .sub_page_static .insides_static > .row > .col-md-9, 
	.outers_page_static.Blog_details .sub_page_static .insides_static > .row > .col-md-3{
	  display: inline-block;
	  width: 100%;
	  float: none;
	}
	.outers_page_static.Blog_details .sub_page_static .insides_static > .row > .col-md-9{
		-webkit-flex-order: 1;
		-ms-flex-order: 1;
		-webkit-order: 1;
		order: 1;
	}
	.outers_page_static.Blog_details .sub_page_static .insides_static > .row > .col-md-3{
		-webkit-flex-order: 2;
		-ms-flex-order: 2;
		-webkit-order: 2;
		order: 2;
	}

	.outers_page_static.Blog_details .sub_page_static .right_cont {
		padding-top: 3em;
		text-align: left;
	}

}

@media (max-width: 980px){

}
 
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {


		
}

@media (min-width: 768px){

}

@media (max-width: 768px){
	
}
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {

	.navbar-default {
		margin: 0;
		background: none;
		background-color: transparent;
		border-radius: 0px;
		border: 0px;
		border-bottom: 0px;
	}
	.navbar-toggle {
		margin-top: 14px;
	}
	.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
	    background-color: rgba(221, 221, 221, 0.25);
	}
	.navbar-default .navbar-brand{ padding-bottom: 12px; color: #fff; font-weight: 700; }

	.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
	.navbar-default .navbar-nav .open .dropdown-menu > li > a,
	.navbar-default .navbar-nav > li > a:hover,
	.navbar-default .navbar-nav > li > a {
		color: #000;
		font-size: 14px;
		text-align: center;
		font-weight: 400; color: #fff; text-transform: uppercase;
		/*padding: 7px 15px;*/
	}
	.navbar-default .navbar-nav>.active>a, 
	.navbar-default .navbar-nav>.active>a:hover, 
	.navbar-default .navbar-nav>.active>a:focus {
	    color: #000;
	    background-color: rgba(255, 255, 255, 0.8);
	}
	.navbar-default .navbar-toggle {
	    border-color: #ddd;
	    margin: 1em auto 0.3em;
	    width: 45px;
	    display: block;
	    float: none;
	}
	.navbar-default .navbar-collapse, .navbar-default .navbar-form{
		border-color: transparent;
		margin: 0 -15px;
	}
	.navbar-nav > li{ border-bottom: 1px solid #ddd; }
	.navbar-collapse{ border-top: 0px; }
 	.navbar-default .navbar-nav > li > a { color: #000; font-weight: 400; }
 	header.head .navbar-header{
		padding-top: 0em;
		background-color: #feca4b;
		padding-bottom: 0.4em; padding-top: 0.3em;
	}
	header.head .navbar-header .sr-onlys{
		display: inline-block; margin-right: 0px;
		font-size: 14px; color: #000; font-weight: 700;
		text-align: center;
	}
	header.head .navbar-header button{
		display: inline-block; margin: 0 auto; text-align: center;
		background-color: transparent; border: 0px;
	}
	header.head .navbar-header button .icon-bar{
		background-color: #000;
	}
	.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus{
		background-color: transparent;
	}
	.navbar-default .navbar-nav > li > a:hover, 
	.navbar-default .navbar-nav > li > a{
		color: #000;
	}

	/* homepage setup */

	.middles.outer-block-news .blocks_news_data .items{
		padding-left: 0; padding-right: 0;
	}
	.outer-block-news .blocks_news_data .items .info{
		padding-left: 25px; padding-right: 25px;
		text-align: center;
	}
	.sect_cfcs .carousel-inner,
	.sect_cfcs .active, 
	.sect_cfcs .carousel, 
	.sect_cfcs .item{
		height: auto;
	}
	.sect_cfcs .fill{
		min-height: 420px;
		height: auto;
		padding-bottom: 0;
	}
	header.head
	header.head{
		padding-bottom: 1em;
	}
	header.head .backs_respons{
		margin: 0;
	}
	.block.top_left_header2{
		margin: 0px;
		padding: 8px 15px;
		border-top: 2px solid #80cde9;
		border-bottom: 2px solid #80cde9;
		background-color: rgba(173, 182, 187, 0.15);
		text-align: center;
	}
	.block.top_left_header2 a{
		text-align: center;
		vertical-align: middle; display: block;
		font-size: 16px;
	}
	.block.top_right_header2 a i.fa{
		font-size: 20px;
	}
	.block.top_right_header2{
		margin: 0;
		padding: 10px 15px 7px;
		text-align: center;
	}
	.back_surgeons_home .tops .block_nav ul li{
		display: block;
		width: 100%;
		float: none;
		height: auto;
		padding: 7px 0;
	}
	.site-footer .newsletter .wrapper h1{
		font-size: 2.6em;
	}
	.site-footer .newsletter .wrapper form .formWrap .formElement{
		float: none; width: 100%;
	}
	header.head .row.default{
		margin: 0 !important;
	}
	header.head .col-md-4{
		padding-left: 0 !important;
		padding-right: 0 !important;
	}
	.site-footer .newsletter .wrapper form .formWrap{
		width: 90%;
		overflow: hidden;
		margin: 0 auto;
	}
	.site-footer .newsletter .wrapper form .formWrap span.formElement{
		float: none; display: block;
		margin-bottom: 0.6em;
	}
	.site-footer .newsletter .wrapper form .formWrap .formElement{
		margin-left: 0;
	}
	.site-footer .newsletter .wrapper form .formSubmit{
		margin-top: 0;
	}
	footer.foot .t-footers .menu_footer ul li.separator{
		display: none;
	}
	footer.foot .t-footers .menu_footer ul li{
		display: block;
		padding-right: 0;
	}
	footer.foot .t-footers .menu_footer ul{
		float: none;
		max-width: inherit;
		margin-right: 0;
	}
	footer.foot .t-footers a{
		font-size: 15px;
	}
	.outer-block-feeds .block_feed .item .picture img{
		display: block;
		margin: 0 auto; text-align: center;
	}
	.social-media.cons_sett a{
		height: 35px; width: 35px;
	}
	.social-media.cons_sett a .fa{
		font-size: 16px;
	}
	.blocks_txt_infcs h3{
		font-size: 30px;
	}
	.blocks_txt_infcs h6{
		font-size: 20px;
	}
	.inside_contact_page .rights_content .sBox_contact_form .tab-content .contact_form form .form-group.fright{
		float: none !important;
		margin-bottom: 0;
		margin-top: 1em;
	}
	.social-media.cons_sett{ display:none; }
	.xs-hidden{display: none;}

	.surgeons_detail_page .blocks_top_detail_surgeons .picture_doctor{
		display: block;
		margin: 0 auto;
	}
	.surgeons_detail_page .blocks_top_detail_surgeons .picture_doctor img{
		display: block;
		margin: 0 auto;
	}
	.surgeons_detail_page .blocks_top_detail_surgeons .right_conts .descs{
		max-width: auto;
		white-space: normal;
	}
	.surgeons_detail_page .blocks_top_detail_surgeons .pos_tops .right_conts .titles{
		text-align: center;
	}
	.surgeons_detail_page .blocks_top_detail_surgeons .pos_tops .right_conts .descs{
		text-align: center;
	}
	.surgeons_detail_page .blocks_top_detail_surgeons .pos_tops .right_conts .descs span{
		text-align: center;
	}
	.surgeons_detail_page .blocks_top_detail_surgeons .pos_tops .right_conts .descs p{
		text-align: center;
	}
	.surgeons_detail_page .blocks_top_detail_surgeons .right_conts .descs .blocks_social_surgeons ul li{
		text-align: center;
		display: block;
		margin: 0 0 5px;
	}
	.surgeons_detail_page .illustration_picture .back_picture .desc_info h3.sub_title{
		font-size: 25px;
	}
	.surgeons_detail_page .illustration_picture .back_picture{
		height: 250px;
	}
	.start_journey .blocks_journey .middle > .row > .col-md-9, .outers_page_static .sub_page_static .insides_static > .row > .col-md-9.order-default{
		-webkit-order: auto;
		-moz-order: auto;
		-ms-order: auto;
		-o-order: auto;
		order: auto;
	}
	.start_journey .blocks_journey .middle > .row > .col-md-9, .outers_page_static .sub_page_static .insides_static > .row > .col-md-3.order-default{
		-webkit-order: auto;
		-moz-order: auto;
		-ms-order: auto;
		-o-order: auto;
		order: auto;
	}
	.surgeons_detail_page .blocks_top_detail_surgeons .padding-left-20.right_conts{
		padding-left: 0px;  display: block;
	}
	.sub_page_static .insides_static > .row > .col-md-3.order-default .padding-left-30{
		padding-left: 0;
	}
	.surgeons_detail_page .blocks_top_detail_surgeons .padding-left-20.right_conts.d-inline{
		display: block;
	}
	.sBox_surgeons_details{
		padding-bottom: 2em;
	}
	.surgeons_detail_page .insides_c_content_surgeons.s_detail .sBox_surgeons_details ul.nav.nav-tabs{
		margin-bottom: 25px;
	}
	.surgeons_detail_page .illustration_picture{
		position: relative; top: -20px;
	}
	.surgeons_detail_page .insides_c_content_surgeons.s_detail .sBox_surgeons_details #about .padding-left-30{
		padding-left: 0;
	}
	.surgeons_detail_page .insides_c_content_surgeons.s_detail .sBox_surgeons_details .tab-content p{
		text-align: justify;
	}
	.blocks_social_surgeons.rights_cSoc{
		padding-top: 0.5em;
	}
	.blocks_social_surgeons.rights_cSoc ul{
		margin: 0; margin-right: 0; margin-bottom: 0;
		text-align: center;
	}
	.insides_c_content_surgeons.s_detail .sBox_surgeons_details .tab-content p, 
	.insides_c_content_surgeons.s_detail .sBox_surgeons_details .tab-content ul li{
		font-size: 15px !important;
	}

	// listing surgeons
	.insides_c_content_surgeons .middles .box_listing_surgeons2 .items .picture.doctor_p{
		float: none; margin-left: 0; margin-top: 0; margin-bottom: 1.2em;
	}
	.insides_c_content_surgeons .middles .box_listing_surgeons2 .items .picture.doctor_p img{
		display: block;
		margin: 0 auto; text-align: center;
	}
	.insides_c_content_surgeons .tops .filter_surgeons_top{
		padding: 0 5px;
	}
	.insides_c_content_surgeons .tops .filter_surgeons_top .form-group{
		float: none;
		margin-bottom: 0.5em;
	}
	.insides_c_content_surgeons .tops .filter_surgeons_top .w25p{
		width: auto;
	}
	.insides_c_content_surgeons .tops .filter_surgeons_top .form-group .easy-autocomplete{
		width: 100% !important;
	}
	.insides_c_content_surgeons .tops .filter_surgeons_top .form-group input{
		border: 1px solid #bfbfbf;
	}
	.insides_c_content_surgeons .tops .filter_surgeons_top .form-group button{
		border-radius: 0px;
	}
	.insides_c_content_surgeons .middles .box_sorting span{
		font-size: 11px;
		display: none;
	}
	.insides_c_content_surgeons .middles .box_sorting{
		text-align: left;
	}
	.insides_c_content_surgeons .middles .box_sorting a:hover,
	.insides_c_content_surgeons .middles .box_sorting a:focus,
	.insides_c_content_surgeons .middles .box_sorting a.active,
	.insides_c_content_surgeons .middles .box_sorting a{
		font-size: 12px;
	}
	.insides_c_content_surgeons .middles .box_listing_surgeons2 .items .picture.doctor_p{
		float: none; margin-left: 0; margin-top: 0;
		margin-bottom: 1em;
	}
	.insides_c_content_surgeons .middles .box_listing_surgeons2 .items .ml102{
		margin-left: 0;
	}
	.insides_c_content_surgeons .middles .box_listing_surgeons2 .items .desc{
		background: none;
		padding: 15px;
	}
	.box_listing_surgeons2 .desc .doctor_info .treatment-area .body-area .icon{
		width: 35px; height: 35px;
	}
	header.head .backs_respons{
		position: relative;
		z-index: 100;
	}
	header.head .dropdown-backdrop{
		display: none;
	}
	.sub_page_static.insides .content-text.insides_static .left_cont p > img{
		max-width: 100%; margin-bottom: 0;
	}
	.sub_page.start_journey .blocks_journey .middle .row.default{
		margin: 0 !important;
	}
	.sub_page.start_journey .blocks_journey .middle .row.default > [class*="span"],
	.row.default > [class*="col-xs"],
	.row.default > [class*="col-md"],
	.row.default > [class*="col-sm"],
	.row.default > [class*="col-lg"]{
		padding: 0 !important;
	}
	.sub_page.start_journey .blocks_journey .middle .content-text span,
	.sub_page.start_journey .blocks_journey .middle .content-text p{
		text-align: justify;
	}
	.sub_page.start_journey .blocks_journey .middle .content-text img,
	.sub_page.start_journey .blocks_journey .middle .content-text p img{
		max-width: 100%;
		margin-bottom: 0;
	}
	.site-footer .newsletter .wrapper h1{
		font-size: 2em;
	}

	.surgeons_detail_page .blocks_top_detail_surgeons .picture_doctor{
		float: none;
		margin-bottom: 10px;
	}
	.surgeons_detail_page .blocks_top_detail_surgeons .right_conts{
		float: none; 
		max-width: 600px;
	}
	.blocks_social_surgeons.rights_cSoc{
		padding-left: 0;
	}
	.surgeons_detail_page .blocks_top_detail_surgeons .pos_tops .right_conts .titles span.certification_dct{
		line-height: 1.3;
	}
	.outers_page_static .sub_page_static .content-text.insides_static h3.tagline{
		font-size: 38px;
	}
	.sub_page.start_journey .blocks_journey.step_1 .middle{
		margin: 0;
	}
	.sub_page.start_journey .blocks_journey.step_5 .middle .list_member_step5 .items .description{
		padding-left: 0; padding-top: 15px;
	}
	.sub_page.start_journey .blocks_journey.step_5 .middle .mw909{
		padding-right: 0;
	}

	.sub_page_static.advertise_us2 .mw1170 .row.default{
		margin: 0px !important;
	}
	.sub_page_static.advertise_us2 .mw1170 .row.default [class*="span"],
	.sub_page_static.advertise_us2 .mw1170 .row.default [class*="col-xs"],
	.sub_page_static.advertise_us2 .mw1170 .row.default [class*="col-md"],
	.sub_page_static.advertise_us2 .mw1170 .row.default [class*="col-sm"],
	.sub_page_static.advertise_us2 .mw1170 .row.default [class*="col-lg"]{
		padding: 0px !important;
	}
	.sub_page_static.advertise_us2 .block_1 .outs_blocks_info .info p{
		text-align: justify;
	}
	.sub_page_static.advertise_us2 .block_1 .outs_blocks_info .info, 
	.sub_page_static.advertise_us2 .block_default .outs_blocks_info .info{
		padding-top: 15px;
	}
	
	.surgeons_detail_page .illustration_picture .back_picture .logo_picDoctor .surgeons-cover-button{ display: none; }

}

/* Landscape phone to portrait tablet */
@media (max-width: 600px) {
}

/* Landscape phones and down */
@media (max-width: 480px) {
}

@media (max-width: 360px) {
}

@media (max-width: 358px) {
	

	
}