ul.yiiPager{font-family:'Roboto Condensed',sans-serif;border:0 none;display:inline;font-size:16px;padding:0;margin-right:auto;margin-left:auto}ul.yiiPager li{display:inline}ul.yiiPager a:link,ul.yiiPager a:visited{border:none;color:#0e509e;font-weight:700;padding:1px 6px;text-decoration:none}ul.yiiPager .page a{font-weight:400}ul.yiiPager a:hover{border:none}ul.yiiPager .selected a{background:none repeat scroll 0 0 #2e6ab1;color:#fff;font-weight:700}ul.yiiPager .hidden a{border:1px solid #dedede;color:#888}ul.yiiPager .first,ul.yiiPager .last{display:none}
@media (max-width: 480px) {
	.owl-carousel .owl-item img {
	  -webkit-transform-style: flat;
	  -moz-transform-style: flat;
	  -ms-transform-style: flat;
	  -o-transform-style: flat;
	  transform-style: flat;
	}
	.back_surgeons_home .box_listing_surgeons1 .items .picture, 
	.back_surgeons_home .box_listing_surgeons1 .items .picture img {
      height: auto;
      width: 100%; 
	}
	.back_surgeons_home .box_listing_surgeons1 .items .picture a {
	  display: block;
	}
}