@Roboto_cond: 'Proxima Nova Semibold', sans-serif;

.mxh379{
	max-height: 379px;
}
.mw400{
	max-width: 400px;
}
.mlr20{
	margin-left: 20px;
	margin-right: 20px;
}
.mxh480{
	max-height: 480px;
	overflow: hidden;
}

.page_member_signup_content{
	.border-right{
		min-height: 450px; border-right: 1px solid #8f8f8f; height: auto;
	}
	.box_sign_default{
		clear: both;
		img{
			margin-bottom: 0;
		}
		p.help-block{
			clear: both;
			margin: 0;
			font-size: 14px; font-weight: 300; color: #000; line-height: normal;
			a{
				font-weight: 300; color: #000; text-decoration: underline;
			}
		}
	}
}
.b_form_sign{
	form{
		margin: 0; margin-bottom: 0;
		h3.sub_title{
			margin: 0; padding: 0;
			font-size: 34px; font-weight: 300; color: #000;
			line-height: 1;
			margin-bottom: 30px;
		}
		.form-group{
			margin-bottom: 23px;
			label{
				margin: 0; padding: 0;
				font-size: 18px; font-weight: 300; color: #000;
				padding-bottom: 8px;
			}
			input{
				height: 34px; border-radius: 0px;
				border: 1px solid #dadada;
			}
		}
		button.btns_form_default_submit{
			background: none;
			box-shadow: none; border: 0px;

			background-color: #235b8f;
			width: 100%;
			height: 40px;
			text-align: center;
			font-size: 20px; font-weight: 700; color: #fff; text-transform: uppercase;
		}
		button.btns_form_default_submit:hover,
		button.btns_form_default_submit:focus{
			background-color: #7ecdea;
			color: #000;
		}
	}
}
.pt0{
	padding-top: 0 !important;
}
.page_member_s_content{
	.box_outers_dashboardmember{
		clear: both;
		.lefts_cont_member{
			max-width: 288px;
			ul{
				margin: 0; padding: 0;
				list-style: none;
				li{
					text-align: left;
					border-bottom: 1px solid #989898;
					padding-bottom: 6px; margin-bottom: 6px;
					a{
						font-size: 16px; font-weight: 400; color: #235b8f;
					}
				}
				li:hover,
				li:focus,
				li.active{
					a{
						font-size: 16px; font-weight: 700;
						color: #235b8f; text-decoration: none;
					}
				}
			}
		}
		// end left c member
		.rights_cont_member{
			.box_default{
				clear: both;
				margin: 0; position: relative;
				h3.sub_title{
					margin: 0; padding: 0;
					margin-bottom: 20px; line-height: 1;
					font-size: 35px; color: #000;
					font-weight: 300;
				}
				form{
					margin: 0; margin-bottom: 0;
					.form-group{
						input.form-control{
							height: 34px; border-radius: 0px;
							font-family: @Roboto_cond;
							font-size: 16px; font-weight: 300; color: #7a7a7a;
						}
						select{
							font-size: 16px; font-weight: 300; color: #7a7a7a;
						}
					}
					button.btn_purple_member{
						background: none; background-color: transparent;
						box-shadow: none; 
						
						font-family: @Roboto_cond;
						text-transform: uppercase;
						font-size: 18px; font-weight: 700; color: #fff; text-align: center;

						background-color: #235b8f;
						width: 205px; height: 39px;
					}
				}
			}
			// end box default
			
			.pic_doctor{
				margin: 0;
				margin-bottom: -3px;
				img{
					width: 133px; height: 133px;
					border: 2px solid #fff;
					border-radius: 63px; margin: 0;
					-webkit-box-shadow: 1px 1px 4px 0px rgba(50, 50, 50, 0.34);
					-moz-box-shadow:    1px 1px 4px 0px rgba(50, 50, 50, 0.34);
					box-shadow:         1px 1px 4px 0px rgba(50, 50, 50, 0.34);
					margin-bottom: 0;
				}
			}
						
			.list_box_default_member_white.reviews_manage,
			.list_box_default_member_white.blogs,
			.list_box_default_member_white{
				.items{
					background-color: #f3f3f3;
					min-height: 220px; height: auto;
					border-radius: 5px; margin-bottom: 14px;
					clear: both;
					text-align: left;

					.padding{
						padding: 20px 25px;
						padding-bottom: 0;
					}
					h4.titles_s{
						margin: 0; padding: 0;
						font-family: @Roboto_cond;
						font-size: 22px; font-weight: 700; color: #235b8f; line-height: 1;
						padding-bottom: 8px;
					}
					span.b_star{
						margin: 0; padding: 0;
						font-family: @Roboto_cond;
						font-size: 15px; font-weight: 300; color: #000000; line-height: 1;
						padding-bottom: 8px;
						i.fa{
							font-size: 13px; color: orange;
						}
					}
					span.dates{
						margin: 0; padding: 0;
						font-family: @Roboto_cond;
						font-size: 15px; font-weight: 700; color: #191919; line-height: 1;
						padding-bottom: 8px;
					}
					p{
						margin: 0; padding: 0;
						font-family: @Roboto_cond;
						font-size: 17px; font-weight: 300; color: #191919; line-height: 1.4;
					}
					.blocks_bottom_d{
						position: absolute;
						left: 0; bottom: 0; width: 100%;
						.border-left{
							border-left: 1px solid #ccc;
						}
						.buttons_d{
							a{
								padding: 0px; margin: 0;
								font-size: 15px; font-weight: 400; color: #646464;
								i.fa{
									font-size: 16px; color: #235b8f;
								}
							}
						}
					}
				}
				// .items:hover,
				// .items:focus,
				.items:nth-child(2n+1){
					background-color: #fff;					
				}
			}

			.list_box_default_member_white.reviews_manage{
				.items{
					.blocks_bottom_d{
						position: relative;
						left: 0; bottom: 0; width: 100%;
						.border-left{
							border-left: 1px solid #ccc;
						}
					}
				}
			}

			// end member white
			.list_box_default_member_white.blogs{
				.items{
					min-height: 187px;
					.picture{
						clear: both;
						img{
							margin: 0; margin-bottom: 0;
						}
					}
					.desription_right{
						clear: both;
					}
					p{
						max-height: 67px; overflow: hidden;
						margin-bottom: 15px; line-height: 1.4;
					}
					.blocks_bottom_d{
						position: relative; bottom: inherit; left: inherit;
					}
				}
			}
		}
		// end right c member

		.box_form_reviewc{
			text-align: left;
			h5.s_title{
				margin: 0; padding: 0;
				font-size: 22px; font-weight: 700; color: #235b8f; 
				text-transform: uppercase;
			}
			.well{
				background-color: #fff;
				padding: 20px;
				padding-bottom: 20px;
			}
			form{
				margin-bottom: 0; margin: 0;
				label{
					text-align: left;
				}
			}
			.m-0{
				margin: 0 !important;
			}
		}
	}
}
.h143{
	height: 143px;
}
.h127{
	height: 137px;
}
button.btn_purple_member.defaults{
	background: none; background-color: transparent;
	box-shadow: none; 
	
	font-family: @Roboto_cond;
	text-transform: uppercase;
	font-size: 18px; font-weight: 700; color: #fff; text-align: center;

	background-color: #235b8f;
	width: 205px; height: 39px;
}

.h55{
	height: 55px;
}

.outers_p_manageclinic{
	clear: both;
	.tops{
		img{
			margin-bottom: 0; margin: 0;
		}
		.fdesc_top{
			background-color: #fff;
			.insides{
				margin: 0px;
				margin-left: 20px; 
				margin-right: 11px;
				height: 55px;
				.cont_abs_tops{
					position: absolute; 
					bottom: 5px; 
					left: 0px;
					width: 100%;
				}
				.pic_doctor{
					margin: 0;
					margin-bottom: -3px;
					img{
						width: 133px; height: 133px;
						border: 2px solid #fff;
						border-radius: 63px; margin: 0;
						-webkit-box-shadow: 1px 1px 4px 0px rgba(50, 50, 50, 0.34);
						-moz-box-shadow:    1px 1px 4px 0px rgba(50, 50, 50, 0.34);
						box-shadow:         1px 1px 4px 0px rgba(50, 50, 50, 0.34);
						margin-bottom: 0;
					}
				}
				.mw395{
					max-width: 395px;
				}
				form{
					margin: 0; margin-bottom: 0;
					.form-group{
						margin-bottom: 4px;
						input.form-control{
							font-size: 17px; font-weight: 300; color: #666666;
							border-radius: 0px; border: 1px solid #ccc;
						}
					}
					button.btn_purple_member.defaults{
						display: block;
						text-transform: capitalize; height: 37px;
						font-size: 18px; font-weight: 400; color: #fff;
						border-radius: 7px;
					}
				}
			}
		}
	}
	.middles{
		.box_clinic_tab_cont{
			clear: both;
			.header-tab{
				ul.nav.nav-tabs{
					// display: flex;
					margin-bottom: 0; margin: 0;
					padding: 0;
					li:focus,
					li:hover,
					li.active{
						border-bottom: 2px solid transparent;
						a{
							border: 0px;
							border-bottom: 4px solid #235b8f;
							background-color: transparent; background: none;
						}
					}
					li{
							width: 20%; display: inline-block;
							margin: 0;
							height: 32px;
							margin-bottom: 0;
							background-color: transparent;
							background: none;
							padding-bottom: 6px;
							border-bottom: 2px solid #b6b6b6;
							a{
								margin: 0; padding: 0; text-align: center;
								font-size: 15px; font-weight: 700; color: #235b8f; text-transform: uppercase;
								border-radius: 0px;
								padding-bottom: 7px;
								border-bottom: 4px solid transparent;
							}
						}
						
				}

			}
			.tab-content{
				text-align: left;
				background: #fff; 
				background-color: #fff;
				padding: 42px 32px 40px;
				margin-bottom: 2em;
				p, h4{
					margin-bottom: 25px;
					font-size: 18px; font-weight: 700; color: #000; line-height: normal;
				}
				p{
					font-weight: 300;
				}
				// ul{
				// 	margin: 0; padding: 0;
				// 	list-style: square; 
				// 	list-style-type: square;
				// 	padding-left: 20px;
				// 	li{
				// 		float: left; width: 33%;
				// 		list-style: square;
				// 		margin-bottom: 25px; padding: 0;
				// 		font-size: 18px; font-weight: 300; color: #000; line-height: normal;		
				// 	}
				// }
				// end tab reviews
				
				.box_default{
					h3.sub_title{
						font-size: 30px;
					}
					.form-group{
						margin-bottom: 11px;
						input[type=file],
						input[type=email],
						textarea,
						input[type=text]{
							border-radius: 0px;
							border: 1px solid #dadada;
							color: #707070;
						}
						.checkbox{
							margin: 0;
							font-weight: 300;
							label{
								font-weight: 300;
							}
						}
						select{
							color: #707070;
							border-radius: 0px;
							border: 1px solid #dadada;
						}
					}
					.bx_imageupload{
						.hidden {
						    display:none;
						}
						.button {
						    // width:75px;
						    border: 1px solid #ccc;
						    padding:63px 25px;
						    cursor: pointer;
						    // margin: 5px;
						    background: transparent;
						    // color: #fff;
						    img{
						    	margin: 0 auto; text-align: center; display: block;
						    }
						}
					}
				}
				// end form tab member clinic
			}
		}
	}
}

.row.memberc{
	margin: 0 -6px;
}
.row.memberc > [class*="span"],
.row.memberc > [class*="col-xs"],
.row.memberc > [class*="col-md"],
.row.memberc > [class*="col-sm"],
.row.memberc > [class*="col-lg"]
{
    padding: 0 6px;
}

// --------- homepage revision surgeons
.h65{
	height: 65px;
}
.back_surgeons_home{
	// background-color: #f9f9f9;
	background-color: #fff;
	.tops{
		display: block; text-align: center;
		h6{
			margin: 0; padding: 0;
			font-size: 25px; font-weight: 700; color: #235b8f; line-height: 1;
			margin-bottom: 10px;
		}
		h5{
			margin: 0; padding: 0;
			font-size: 35px; font-weight: 700; color: #535252; line-height: 1;
			margin-bottom: 6px;
		}
		.block_nav{
			text-align: center;
			max-width: 910px;
			margin: 0 auto;
			ul{
				margin: 0; padding: 0;
				li{
					height: 26px; width: 180px;
					padding-left: 0;
					padding-right: 0;
					display: inline-table; float: left;
					border-bottom: 1px solid #b6b6b6;
					a{
						font-size: 18px; font-weight: 700; color: #235b8f; 
						display: block; vertical-align: top;
						text-align: center;
					}
				}
				li.active,
				li:hover{
					border-bottom: 2px solid #235b8f;
					a{
						text-decoration: none; color: #235b8f; 
					}
				}
			}
		}

		h5.smalls{
			font-size: 19px; font-weight: 700; color: #535353;
		}
	}
	.middles{
		
	}

	.box_listing_surgeons1{
			margin-right: -20px;
			.paddings{
				padding: 0 7.5px; 
			}
			.items{
				// width: 404px;
				width: 285px;
				height: 360px; 
				border-radius: 0px; 
				clear: both; overflow: hidden;
				// -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
				// -moz-box-shadow:    0px 0px 5px 0px rgba(0, 0, 0, 0.1);
				// box-shadow:         0px 0px 5px 0px rgba(0, 0, 0, 0.1);
				background-color: transparent;
				// margin-bottom: 27px;
				.picture{
					margin-bottom: 0;
					img{
						margin-bottom: 0;
					}
				}
				.desc{
					background-color: white;
					width: 100%; 
					// height: 120px;
					padding: 17px 0px 15px;
						.doctor_p{
							vertical-align: top; text-align: left;
							float: left; padding-right: 15px;
							img{
								width: 65px; height: 65px;
								border-radius: 35px; margin: 0;
							}
						}
						.doctor_info{
							vertical-align: top;
							text-align: left; 
							// float: left;
							// max-width: 195px;
							overflow: hidden;
							span.names{ text-align: left;
								margin: 0; line-height: normal;
								padding: 0;	
								font-size: 19px; font-weight: 400; 
								color: #235a92;
								overflow: hidden;
								clear: left;
								text-align: left;
								text-overflow: ellipsis;
								white-space: nowrap;
								display: block;
								padding-bottom: 5px;
							}
							a:hover,
							a:focus,
							a{
								text-decoration: none;
								span.names{
									color: #084C91;
								}
							}
							i.fa{
								font-size: 16px; color: #ffb516;
							}
							p{ text-align: left;
								margin: 0; line-height: normal;
								padding: 0;
								font-size: 14px; font-weight: 400; color: #54b1d0;
								text-transform: uppercase; 
								overflow: hidden;
								clear: left;
								text-align: left;
								text-overflow: ellipsis;
								white-space: nowrap;
							}
						}
				}
			}
		}
}

.fixd_illustrationtophg{
	max-height: 415px;
	overflow: hidden;
}
.border-r0{
	border-radius: 0px;
}

.page_outers_cart_content{
	clear: both;
	font-family: @Roboto_cond;
	.blocks_subtitle{
		background-color: #572b5c;
		padding: 8px 17px;
		span{
			text-align: left;
			margin: 0; padding: 0;
			display: block; line-height: normal;
			font-size: 17px;
			font-weight: 700; color: #fff;
			letter-spacing: 1px;
		}
	}
	.blocks_subtitle.b2{
		background-color: #235b8f;
	}

	.box_table_cart{
		table.tables_cart{
			margin-bottom: 0; margin: 0;
			thead{
				tr{
					th{
						padding-left: 17px;
						background: none; background-color: transparent;
						border-top: 1px solid #ccc;
						border-bottom: 1px solid #ccc;
						font-size: 16px; font-weight: 700; color: #241f25;
					}
				}
			}
			tbody{
				tr{
					td{
						// background-color: #fff;
						font-size: 17px; font-weight: 300; color: #241f25;
						padding-top: 18px;
						padding-right: 18px;
						i.purple_t{
							color: #552a58; font-size: 16px;
						}
						.c_input_qty{
							width: 90px; display: block;
							input[type=number]{
								background: transparent;
								background-color: transparent;
								border: 1px solid #ccc;
								border-radius: 0px;
							}
						}
						.text_cpicture{
							.pictures{
								img{
									margin: 0; margin-bottom: 0;
									width: 120px;
								}
							}
							.descs{
								.chl.mh110{
									height: 110px;
									max-height: 110px; overflow: hidden;
									span.names{
										margin: 0; margin-bottom: 0;
										font-size: 18px; font-weight: 300; color: #241f25;
									}
								}
								a.delete_cart{
									padding: 0px;
									font-size: 13px; font-weight: 400; color: #a0a0a0;
									text-decoration: none;
									i.fa{
										color: #a0a0a0; font-size: 14px;
									}
								}
								a.delete_cart:hover,
								a.delete_cart:focus{
									text-decoration: none; color: #000;
									i.fa{
										color: #000;
									}
								}
							}
						}
						// end text_picture names
					}
				}
			}
		}
		.table-striped>tbody>tr:nth-child(odd)>td, 
		.table-striped>tbody>tr:nth-child(odd)>th{
			 background-color: #fff;
		}
		.table-striped>tbody>tr:nth-child(even)>td, 
		.table-striped>tbody>tr:nth-child(even)>th{
			 background-color: #f5f5f5;
		}

		table.tables_cart{
			margin-bottom: 25px;
		}
	}
	.mw445{
		max-width: 445px;
	}

	.promo_code_bx{
		margin: 0; padding: 0;
		table{
			margin: 0;
			tr{
				td{
					padding: 5px 10px;
					vertical-align: middle;
					font-size: 17px; font-weight: 300; color: #000;
					span.price_total{
						margin: 0; padding: 0;
						font-size: 23px; font-weight: 700; color: #572b5e;
					}
				}
			}
			tr.top_inp_promocode{
				td{ 
					text-align: left;
					border-top: 1px solid #b8b5b0;
					border-bottom: 1px solid #b8b5b0;
				}
			}
			tr.bb_1{
				td{
					border-bottom: 1px solid #b8b5b0;
				}
			}
		}
		button.btns_aplyr{
			background: none; background-color: transparent;
			box-shadow: none; 
			
			font-family: @Roboto_cond;
			text-transform: uppercase;
			font-size: 17px; font-weight: 700; color: #fff; text-align: center;

			background-color: #235b8f;
			width: 100%; height: 39px;
			padding-left: 24px;
			padding-right: 24px;
		}
		label{
			font-size: 20px; font-weight: 400; color: #000;
		}
		input{
			border-radius: 0px;
		}
	}
	
	button.bt_purpleshopdt{
		background: none; background-color: transparent;
		box-shadow: none; 
		
		font-family: @Roboto_cond;
		text-transform: uppercase;
		vertical-align: middle;
		padding-top: 4px;
		font-size: 19px; font-weight: 400; color: #fff; text-align: center;

		background-color: #235b8f;
		width: 275px; height: 39px;
		padding-left: 24px;
		padding-right: 24px;
	}
	button.bt_purpleshopdt:hover,
	button.bt_purpleshopdt:focus{
		opacity: 0.9;
	}
	button.bt_purpleshopdt.bt_continue_shop{
		background-color: #572b5c;
		i.fa{
			color: #fff; font-size: 16px;
		}
	}
	
	// start box chart checkout
	.box_checkoutCart_tab_cont{
		clear: both;
			ul.nav.nav-tabs{
				// display: flex;
				margin: 0;
				padding: 0; margin-bottom: 0;
				margin-bottom: 5px;
				li{
					width: 50%; display: inline-block;
					margin: 0;
					height: 32px;
					margin-bottom: 0;
					background-color: transparent;
					background: none;
					padding-bottom: 6px;
					border-bottom: 2px solid #b6b6b6;
					a{
						margin: 0; padding: 0; text-align: center;
						font-size: 15px; font-weight: 700; color: #235b8f; text-transform: uppercase;
						border-radius: 0px;
						padding-bottom: 7px;
						border-bottom: 4px solid transparent;
					}
					a:hover,
					a:focus{
						background-color: transparent;
					}
				}
				li:focus,
				li:hover,
				li.active{
					border-bottom: 2px solid transparent;
					a{
						border: 0px;
						border-bottom: 4px solid #235b8f;
						background-color: transparent; background: none;
					}
				}
			}
			
	}
	// box charts end
}

table.table-noborder{
	tr{
		th,
		td{
			border: 0; border-top: 0;
			border-bottom: 0;
		}
	}
}

.box_form_shopcart_c{
	form{
		button.backs_btn_submit.bts_2{
			background: none; 
			background-color: transparent;
			box-shadow: none;
			border: 0px;
			border-radius: 5px;

			width: 275px; 
			height: 39px;
			background-color: #8e4398;

			font-size: 18px; font-weight: 700; color: #fff;
		}
		button.backs_btn_submit.bts_2:hover,
		button.backs_btn_submit.bts_2:focus{
			opacity: 0.9;
		}
	}
}
.mw400{
	max-width: 400px;
}


.content-text.insides_static{
	clear: both;
	.blocks_middle_checkoutsign{
		.panel_box_checkout.active{
			background-color: #fff;
		}
		.panel_box_checkout{
			.padding{
				padding: 60px 40px;

				p, h4{
					margin: 0; padding: 0;
					margin-bottom: 20px;
					font-size: 30px; font-weight: 300; color: #050505; line-height: normal;
				}
				p{
					font-weight: 300; font-size: 18px; color: #232323;
				}

				.box_forms_login{
					form{
						margin-bottom: 0;
					}
					.form-group{
						margin-bottom: 12px;
						label{
							font-weight: 300; 
							font-size: 18px; 
							color: #232323;
						}
						input{
							border-radius: 0;
							border: 1px solid #dadada;
						}
					}
					p.help-block{
						a{
							color: #232323;
							font-size: 14px; font-weight: 300; text-decoration: underline; line-height: normal;
						}
					}
					// end form login
				}
				button.btn-purples{
					background: none; 
					background-color: transparent;
					box-shadow: none;
					border: 0px;
					border-radius: 5px;

					width: 275px; 
					height: 39px;
					background-color: #8e4398;

					font-size: 18px; font-weight: 700; color: #fff;
				}
			}
		}
	}
}
.h150{
	height: 150px;
}

.inside_contact_page{
	.left_content{
		 table{
		 	max-width: 270px;
		 	tr{
		 		td{
		 			padding: 0px;
					line-height: 1.5;
					font-size: 16px;
					font-weight: 400;
					color: #747474;
		 		}
		 	}
		 }
	}
}

// setup header responsive
.top_left_header2,
.top_right_header2{
	margin-right: 15px;
	padding-top: 30px;
	a{
		font-size: 18px; font-weight: 400; text-transform: uppercase; color: #555f62;
		i.fa{
			font-size: 24px; color: #555f62;
		}
	}
	a:hover,
	a:focus{
		text-decoration: none; color: #aeb6b9;
		i.fa{
			text-decoration: none; color: #aeb6b9;
		}
	}
}

.top_left_header2{
	margin-left: 15px;
	padding-top: 30px;
	a{
		i.fa{
			font-size: 22px;
		}
	}
}

.outers_blck_fcs{
	z-index: 15;
}

.hidesmenu-frightd{
	padding-right: 15px;
	i.fa{
		color: #fff; font-size: 25px;
	}
}
.outer-blok-black-menuresponss-hides{
    display: none;

    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 70000; 
    background-color: rgba(32, 94, 145, 0.9);

    width: 100%;
    height: 100%;
}

.menu-sheader-datals{ text-align: center; }
.menu-sheader-datals ul{ margin: 0px; padding: 0px; }
.menu-sheader-datals ul li{ padding: 6px 0px; }
.menu-sheader-datals ul li a{ font-size: 16px; letter-spacing: 2px; text-transform: uppercase; font-weight: 400; color: #fff; }
.menu-sheader-datals ul li:hover,
.menu-sheader-datals ul li:focus,
.menu-sheader-datals ul li a:focus,
.menu-sheader-datals ul li a:hover{
    color: #f5f5f5; text-decoration: none;
    background: none; background-color: transparent;
}
.menu-sheader-datals ul li:hover,
.menu-sheader-datals ul li:focus{
	ul.dropdown-menu{ display: block; }
}
.menu-sheader-datals ul li{
	ul.dropdown-menu{
		top: inherit; left: inherit;
		float: none;
		display: none;
		background: none; box-shadow: none;
		border: 0px; border-radius: 0px;
		position: relative;
		z-index: 15;
		li{
			display: block;
			float: none;
			padding: 4px 0;
			a{
				padding: 0; 
				text-decoration: none;
				font-size: 14px; letter-spacing: 2px; text-transform: uppercase; font-weight: 400; color: #fff;
			}
		}
		li:last-child{
			padding-bottom: 8px;
		}
		li:first-child{
			padding-top: 10px;
		}
	}
}

section.back_home2.mh719 .insd .mdl .list_step_surgery_default ul li .items article a:focus,
section.back_home2.mh719 .insd .mdl .list_step_surgery_default ul li .items article a:hover,
section.back_home2.mh719 .insd .mdl .list_step_surgery_default ul li .items article a:focus .titles,
section.back_home2.mh719 .insd .mdl .list_step_surgery_default ul li .items article a:hover .titles{
	text-decoration: none;
}

.alert.alert-danger{
	font-size: 13px;
}

.sets_form_conReview{
	border-radius: 0px;
	background-color: #f4f4f4;
	form{
		margin: 0;
		margin-bottom: 0;
		.form-group{
			margin-bottom: 7px;
			label{
				font-size: 15px; font-weight: 400;
			}
			input{
				-webkit-border-radius: 0px;
				-moz-border-radius: 0px;
				border-radius: 0px;
			}
			textarea{
				-webkit-border-radius: 0px;
				-moz-border-radius: 0px;
				border-radius: 0px;
			}
		}

		button{
			background: none;
			box-shadow: none; border: 0px; border-radius: 0;

			background: #235b8f;
			// width: 274px;
			height: 35px;
			width: auto; padding: 0 15px;
			text-align: center;
			vertical-align: middle;
			display: inline-block;
			padding-top: 2px;
			font-weight: 700; font-size: 16px; color: #fff; text-transform: uppercase;

			-webkit-border-radius: 5px;
			-moz-border-radius: 5px;
			border-radius: 5px;
		}
		button:hover,
		button:focus{
			background: #82b3e0; 
			color: #fff;
		}
	}
	fieldset{
		margin: 0; padding: 0;
	}
	
	.alert{
		ul{
			li{
			float: none;
			width: auto;
			font-size: 15px;
			}
		}
	}
	.rating { 
	  border: none;
	  float: left;
	}

	.rating > input { display: none; } 
	.rating > label:before { 
	  margin: 5px;
	  font-size: 1.25em;
	  font-family: FontAwesome;
	  display: inline-block;
	  content: "\f005";
	}

	.rating > .half:before { 
	  content: "\f089";
	  position: absolute;
	}

	.rating > label { 
	  color: #ddd; 
	 float: right; 
	}

	/***** CSS Magic to Highlight Stars on Hover *****/

	.rating > input:checked ~ label, /* show gold star when clicked */
	.rating:not(:checked) > label:hover, /* hover current star */
	.rating:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */

	.rating > input:checked + label:hover, /* hover current star when changing rating */
	.rating > input:checked ~ label:hover,
	.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
	.rating > input:checked ~ label:hover ~ label { color: #FFED85;  }
	.lines-grey.h2{
		height: 2px;
	}
}

.mw1000{
	max-width: 1000px;
}

.backs_picturem_updatephoto{
	background-color: #fff;
	width: auto;
	max-width: 209px;
	height: 194px;
	max-height: 194px;

	overflow: hidden;
	position: relative;
	.in_photo{
		position: relative;
		background: center center;
		width: 100%; height: 100%;
		background-size: cover !important;
	}
}

.box_clinic_tab_cont{
	.nav-tabs>li>a{
		font-size: 18px;
		color: #000;
		text-transform: capitalize;
	}

	.nav-tabs>li.active>a,
	.nav-tabs>li.active>a:hover,
	.nav-tabs>li.active>a:focus{
		color: #235b8f;
	}
}

.details_cont_articles{
	.left_cont{
		clear: both;
		img{
			margin: 0px;
			max-width: 100%;
			margin-bottom: 25px;
		}
		p{
			font-weight: 300;
			font-size: 18px;
			color: #000
		}
		span{
			font-size: 20px;
			font-weight: 300;
			color: #000;
		}
	}
	
	.shares-text {
	    font-size: 16px;
	    font-weight: 300;
	    color: #353535;
	    text-decoration: none;
	    span {
	      display: inline-block;
	      font-weight: 500;
	      color: #353535;
	      font-size: 16px;
	      margin-bottom: 0;
	  }
	  a {
	      font-size: 16px;
	      font-weight: 300;
	      color: #353535;
	      text-decoration: none;
	      padding-bottom: 2px;
	  }
	  a:hover,
	  a:focus{
	  	color: #000;
	  	text-decoration: underline;
	  }
	}
	// end shares text
}
.overfl_h{
	overflow: hidden;
}
.surgeons_detail_page{
	.illustration_picture{
		clear: both;
		.back_picture{
			background-repeat: no-repeat;
		    width: 100%;
		    height: 420px; 
		    background-size: cover;
		    background-position: center center;
		    display: table;
		    vertical-align: middle;
		    text-align: center;
		    position: relative;
		    .logo_picDoctor{
		    	display: table-cell; vertical-align: middle;
		    	text-align: center;
		    	.box_logo{
		    		background-color: #fff;
		    		padding: 4px;
		    		display: inline-block;
		    		-webkit-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.43);
					-moz-box-shadow:    0px 0px 4px 0px rgba(0, 0, 0, 0.43);
					box-shadow:         0px 0px 4px 0px rgba(0, 0, 0, 0.43);
			    	img{
			    		width: 120px; 
			    		// height: 120px;
			    		height: auto;
			    		border: 1px solid #e0e0e0;
			    	}
		    	}
		    }
		    .desc_info{
				h3.sub_title{
					margin: 0; padding: 0;
					font-size: 56px; font-weight: 600; color: #fff;
					line-height: 0.9;
					text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.75);
					padding-bottom: 10px;
				}
				h6.cat_dn{
					margin: 0 40px; padding: 0;
					font-size: 25px; font-weight: 600; color: #fff;
					line-height: 0.9;
					text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.75);
				}
				clear: both;
		    }
		}
	}
}

#Claim_modal{}
.bs_form_claim{
	.col-sm-6{
		padding: 0 8px;
	}
	.row.default{
		margin: 0 -8px;
	}
	form{
		margin-bottom: 1em;
	}
	.form-group{
		margin: 0;
		margin-bottom: 22px;
		width: 100%;
		position: relative;
		input{
			width: 100%;
			border: 1px solid #ccc;
			border-radius: 0px;
			box-shadow: none;
		}
	}
	textarea{
		min-height: 120px; height: auto;
		border: 1px solid #ccc;
		border-radius: 0px;
		box-shadow: none;
	}
	button[type=submit]{
		width: 155px; height: 34px;
		background-color: #10cfbd;
		border: 0px;
		color: #fff; text-transform: uppercase;
	}
	button[type=submit]:hover,
	button[type=submit]:focus{
		background-color: #1dafa1;
	}
}

.list_box_default_member_white.reviews_manage{
	.less_top_memberreview{
		margin-bottom: 0;
		margin-bottom: 10px;
		.pictures{
			display: inline-block;
			vertical-align: top;
			padding-right: 20px;
			img{
				width: 110px; height: 110px;
				border-radius: 100px;
				margin-bottom: 0;
			}
		}
		.info_links{
			display: inline-block;
			vertical-align: top;
			clear: both;
			padding-top: 15px;
			color: #a36bd3;
			p{
				font-size: 16px !important;
				font-weight: 400 !important;
				color: #a36bd3 !important;
			}
			p.c2{
				margin-top: 10px !important;
				font-size: 14px !important;
				font-weight: 400 !important;
				color: #000 !important;	
			}
		}
	}
	
	.blocks_bottom_d{
		span.sub_t{
			display: block;
			margin-bottom: 3px;
			font-size: 19px;
			font-weight: 700;
			color: #a36bd3;
		}
		span.dates{
			font-size: 13px !important;
			font-weight: 400 !important;
			color: #000 !important;
		}
	}
}

.conts_boxreview_memberm{
	.box_listing_surgeons2{
			margin-right: 0px;
			.items{
				position: relative;
				width: 100%; 
				min-height: 179px;
				height: auto;

				margin-bottom: 25px;
				clear: both; 
				overflow: hidden;
				.picture.doctor_p{
					vertical-align: top; text-align: left;
					float: left; margin-top: 25px;
					margin-left: 22px;
					img{
						width: 127px; height: 127px;
						border: 2px solid #fff;
						border-radius: 63px; margin: 0;
						-webkit-box-shadow: 1px 1px 4px 0px rgba(50, 50, 50, 0.34);
						-moz-box-shadow:    1px 1px 4px 0px rgba(50, 50, 50, 0.34);
						box-shadow:         1px 1px 4px 0px rgba(50, 50, 50, 0.34);
					}
				}
				.desc{
					// border-radius: 10px; 
					// background:#fff top left url(../images/back-pink-leftcont_surgeons_pg.jpg) no-repeat;
					width: 100%; 
					// height: 179px;
					padding: 30px 0 ;
					// padding-right: 30px;
						.doctor_info{
							vertical-align: top;
							text-align: left; 
							span.names{ text-align: left;
								margin: 0; line-height: normal;
								padding: 0;	
								font-size: 18px; font-weight: 400; color: #235b8f;
							}
							i.fa{
								font-size: 16px; color: #ffb516;
							}
							p{ text-align: left;
								margin: 0; line-height: 1.3;
								padding: 0;
								font-size: 16px; font-weight: 400; color: #747474;
							}
						}
				}
			}

			.bottoms_message_reviewReply{
				clear: both;
				padding-left: 30px;
				.blocks_bottom_d{
					text-align: left;
					position: absolute;
					left: 0; bottom: 0; width: 100%;
					.border-left{
						border-left: 1px solid #ccc;
					}
					.buttons_d{
						a{
							padding: 0px; margin: 0;
							font-size: 15px; font-weight: 400; color: #646464;
							i.fa{
								font-size: 16px; color: #235b8f;
							}
						}
					}
				}
				.blocks_bottom_d{
					position: relative;
					left: 0; bottom: 0; width: 100%;
					.border-left{
						border-left: 1px solid #ccc;
					}
				}
				.blocks_bottom_d{
					span.sub_t{
						display: block;
						font-size: 19px;
						font-weight: 700;
						color: #a36bd3;
					}
					span.dates{
						font-size: 13px !important;
						font-weight: 400 !important;
						color: #000 !important;
					}
					.owners{
						padding-top: 5px;
						padding-bottom: 5px;
					}
					p{
						margin-bottom: 0 !important;
					}
				}
				span{
					margin-bottom: 5px !important;
				}
			}

		}
		// end listing alpabetic
		.lines-grey{
			border-bottom: 1px solid #c2c2c2;
		}
}

.cwbutton_detailsur{
	 width: 230px !important;
    background-size: 100% 100% !important;
}

.back-transp{
	background-color: transparent !important;
}

 
// ---------------------------------- Update new custom css
#searchs_bar{
	margin-top: 5px;
	margin-right: 35px;
	position: relative; 
	.search-form .form-group {
	  float: right !important;
	  transition: all 0.35s, border-radius 0s;
	  width: 32px;
	  height: 32px;
	  background-color: #fff;
	  box-shadow: none;
	  border-radius: 0px;
	  // border-bottom: 1px solid #ccc;
	  border: 1px solid #ccc;
	}
	.search-form .form-group input.form-control {
	  padding-right: 20px;
	  border: 0 none;
	  background: transparent;
	  box-shadow: none;
	  display:block;
	  font-size: 14px;
	}
	.search-form .form-group input.form-control::-webkit-input-placeholder {
	  display: none;
	}
	.search-form .form-group input.form-control:-moz-placeholder {
	  display: none;
	}
	.search-form .form-group input.form-control::-moz-placeholder {
	  display: none;
	}
	.search-form .form-group input.form-control:-ms-input-placeholder {
	  display: none;
	}
	.search-form .form-group:focus,
	.search-form .form-group.hover,
	.search-form .form-group:hover,
	.search-form .form-group.hover {
	  width: 100%;
	  border-radius: 0px;
	}
	.search-form .form-group.fullw{
		width: 100%;
	}
	.search-form .form-group span.form-control-feedback {
	  position: absolute;
	  top: -1px;
	  right: -2px;
	  z-index: 2;
	  display: block;
	  width: 34px;
	  height: 34px;
	  line-height: 34px;
	  text-align: center;
	  color: rgba(0,0,0, 0.8);
	  left: initial;
	  font-size: 14px;
	}

}

.social-media.cons_sett{
	text-align: center;
	border: 0 none;
	display: inline-table;
	position: fixed;
	z-index: 5000;
	top: 50%;
	left: 10px;
	-webkit-transform: translate(0, -50%);
	transform: translate(0, -50%);
	a:first-child {
	    margin-top: 0;
	}
	a {
	    color: #235b8f;
	    margin-left: 10px;
	}
	a {
	    -webkit-transition: .3s all ease-in-out;
	    transition: .3s all ease-in-out;
	    text-decoration: none;
	    outline: 0;
	}
	a {
	    display: block;
	    font-size: 1.500em;
	    background-color: #7ecdea;
	    margin-left: 0;
	    margin-top: 10px;
	    border-radius: 50%;
	    line-height: 0;
	    position: relative;
	    letter-spacing: inherit;
	    height: 40px;
	    width: 40px;
	    .fa {
		    position: absolute;
		    top: 50%;
		    left: 50%;
		    -webkit-transform: translate(-50%, -50%);
		    transform: translate(-50%, -50%);
		    color: #235b8f;
		    font-size: 20px;
		}
	}
}

// block news home
.outer-block-news{
	.blocks_news_data{
		margin-right: -30px;
		.items{
			.picture{
				img{ margin: 0; }
			}
			.info{
				padding: 20px 30px 15px;
				span.dates{
					text-align: center;
					font-weight: 400;
					color: rgba(0,0,0,0.5);
					letter-spacing: 0.075em;
					text-transform: uppercase;
					font-size: 14px;
				}
				.bdr_right{
					border-left: 1px solid #ccc;
					padding-left: 30px;
				}
				.titles{
					font-weight: 400;
					color: #235b8f;
					letter-spacing: 0.075em;
					text-transform: uppercase;
					font-size: 16px;
					text-align: left;
				}
			}
		}
	}
}
.outer-block-feeds{
	margin: 0;
	.block_feed{
		padding-bottom: 1.5em;
		.item{
		}
	}
	.owl-theme .owl-controls{
		margin-top: 20px;
		.owl-page{
			span{
				margin-left: 5px; margin-right: 5px;
			}
		}
	}
	clear: both;
}
.box_listing_surgeons1{
	.owl-pagination{ 
		// display: none; visibility: hidden;
	}
}

a{
	color: #235b8f;
}

.easy-autocomplete{
	text-align: left;
	ul li{
		text-align: left;
		span{
			display: inline-block;
			margin: 0;
		}
	}
}

// list procedures
.wrapper-cont-procedures{
	max-width: 620px;
	margin: 0 auto;
	.top-filter{
		form.form-inline{
			.form-group{
				select.form-control{
					width: 306px;
					height: 46px;
					font-size: 16px;
					font-weight: 300; color: #fff;
					font-family: @Roboto_cond;
					background-color: #235b8f;
					border-radius: 0px;
					border: 0px;
					box-shadow: none;
				}
				select:hover,
				select:focus{
					box-shadow: none;
				}
			}
		}
	}
	.search_surgeons_doctor-procedures{
		span{
			display: block;
			padding-bottom: 0px;
			font-size: 27px; font-weight: 400; 
			color: #235b8f;
			letter-spacing: 2px;
		}
		a.btns_search_stag_procedureDoctor{
			padding: 8px 30px;
		    background-color: #235b8f;
		    border: 0 none;
		    border-left: 3px solid #80cce7;
		    border-bottom: 3px solid #80cce7;
		    display: inline-block;
		    color: #fff;
		    font-family: @Roboto_cond;
		    font-size: 16px;
		    font-weight: 400;
		    text-transform: uppercase;
		    letter-spacing: 0.156em;
		    border-radius: 0px;
		}
		clear: both;
	}
	.block_procedures_con_details{
		h1.title,
		h3.title{
				margin: 0; padding: 0;
				font-family: @Roboto_cond;
				font-size: 50px;
				font-weight: 400; 
				color: #235b8f;
				line-height: 0.9;
				letter-spacing: 5px;
				text-transform: uppercase;
			}
		p{
			margin: 0; padding: 0;
			margin-bottom: 25px;
			font-size: 16px;
			font-weight: 400;
			font-family: @Roboto_cond;
			color: rgba(0, 0, 0, 0.7);
			line-height: 1.4;
			text-align: left;
		}
	}
	clear: both;
}
.lists_procedures_nw{
	.items{
		clear: both;
		padding-bottom: 80px;
		.top{
			margin-bottom: 60px;
			h3.title{
				margin: 0; padding: 0;
				font-family: @Roboto_cond;
				font-size: 50px;
				font-weight: 400; 
				color: #235b8f;
				line-height: 0.9;
				letter-spacing: 5px;
				text-transform: uppercase;
			}
		}
		.middles{
			border-top: 1px solid #7ecdea;
			.pict{
				img{

				}
			}
			.desc{
				padding-top: 35px;
				padding-left: 35px;
				text-align: left;
				ul{
					text-align: left;
					li{
						text-align: left;
						padding: 3px 0;
						a{
							display: inline-block;
							text-decoration: none;
							text-transform: uppercase;
							font-size: 15px;
							font-weight: 400;
							font-family: @Roboto_cond;
							color: #80cce7;
						}
						a:hover,
						a:focus{
							color: #235b8f;
							text-decoration: none;
						}
					}
				}
			}
		}
	}
	.items.type2{
		.middles{
			.desc{
				text-align: right;
				ul{
					text-align: right;
					li{
						text-align: right;
					}
				}
			}
		}
	}
}
.info_bottom_proced_details{
	margin: 0 auto;
	max-width: 980px;
	margin-top: 80px;
	border-top: 1px solid #80cce7;
	padding-top: 40px;
	.col-md-9{
		p{
			margin: 0; padding: 0;
			margin-bottom: 25px;
			font-size: 16px;
			font-weight: 400;
			font-family: @Roboto_cond;
			color: rgba(0, 0, 0, 0.7);
			line-height: 1.4;
			text-align: left;
		}
	}
}


.box_listing_surgeons2{
	.desc{

		.doctor_info{
			.treatment-area {
				max-width: 300px;
				.body-area {
				    margin-left: 0px;
				    display: -webkit-box;
				    display: -ms-flexbox;
				    display: flex;
				    -webkit-box-orient: vertical;
				    -webkit-box-direction: normal;
				    -ms-flex-direction: column;
				    flex-direction: column;
				    -webkit-box-pack: center;
				    -ms-flex-pack: center;
				    justify-content: center;
				    float: left;
				    text-align: center;
				    // font-family: @Roboto_cond;
				    font-size: .875em;
				    font-weight: 400;
				    text-transform: uppercase;
				    color: #80cce7;
				    letter-spacing: 0.075em;
				}
				.body-area {
				    display: inline-block;
				    -webkit-box-orient: vertical;
				    -webkit-box-direction: normal;
				    -ms-flex-direction: inherit;
				    flex-direction: inherit;
				    -webkit-box-pack: inherit;
				    -ms-flex-pack: inherit;
				    justify-content: inherit;
				    margin-right: 20px;
				    margin-bottom: 10px; 
				}
				.body-area:first-child {
				    margin-left: 0;
				}
				.body-area:last-child {
				    margin-right: 0;
				}

				.body-area .icon {
				    background-color: #e6f5fa;
				    border-radius: 50%;
				    height: 68px;
				    width: 68px;
				    margin: 0 auto;
				    margin-bottom: 15px;
				    background-repeat: no-repeat;
				    background-position: center;
				}
				.body-area .icon {
				    margin-bottom: 0;
				    height: 45px;
				    width: 45px;
				    margin-right: 5px;
				    display: -webkit-inline-box;
				    display: -ms-inline-flexbox;
				    display: inline-flex;
				    -webkit-box-pack: center;
				    -ms-flex-pack: center;
				    justify-content: center;
				    vertical-align: middle;
				}
				.body .icon {
				    background-image: url(../images/body-icon-active.png);
				}
				.face .icon {
				    background-image: url(../images/face-icon-active.png);
				}
				.breasts .icon {
					    background-image: url(../images/breast-icon-active.png);
				}
				.other .icon {
				    background-image: url(../images/other-icon-active.png);
				}
			    padding: 20px 0;
			}
			.social-media{
				a{
					display: inline-block;
					text-decoration: none;
					padding-right: 4px;
					i.fa{
						font-size: 15px;
						color: #235b8f !important;
					}
				}
				a:focus,
				a:hover{
					color: #235b8f; text-decoration: none;
				}
			}
		}
	}
	
}

.site-footer{
	.newsletter{
	    position: relative;
	    padding: 60px 0;
	    background-image: url(../images/newsletter-bg.jpg);
	    background-repeat: no-repeat;
	    background-position: center;
	    background-size: cover;

		.wrapper {
		    position: relative;
		    z-index: 2;
		    h1,h2,h3 {
			    text-align: center;
			    font-family: "Proxima Nova",sans-serif;
			    font-size: 3.6em;
			    font-weight: 400;
			    color: #235b8f;
			    text-transform: uppercase;
			    letter-spacing: 0.156em;
			    line-height: 1.250em;
			    margin-bottom: 80px;
			}
		    h3 {
			    color: #fff;
			    margin-bottom: 50px;
			}
		    form{
				max-width: 980px;
				margin: 0 auto;
				.formWrap{
					width: 100%;
					.formElement {
					    float: left;
					    margin-left: 20px;
					    width: calc(100%/2 - 2);
					    input {
						    width: 100%;
						    border: 0 none;
						    padding: 20px;
						    color: #aeb6b9;
						    font-family: "Proxima Nova",sans-serif;
						    font-size: 15px;
						    font-weight: 400;
						    letter-spacing: 0.125em;
						}
					}
					.formElement:first-child {
					    margin-left: 0;
					}
				}
				.formSubmit {
				    margin-top: 30px;
				    text-align: center;
				    input[type=submit] {
					    font-family: "Proxima Nova",sans-serif;
					    font-size: .875em;
					    font-weight: 600;
					    text-transform: uppercase;
					    letter-spacing: 0.188em;
					    color: #fff;
					    background-color: #235b8f;
					    padding: 10px 55px;
					    border: 0 none;
					    border-left: 2px solid #80cce7;
					    border-bottom: 2px solid #80cce7;
					    cursor: pointer;
					}
				}
		    }
		}
	}
	.newsletter:before {
	    position: absolute;
	    top: 0;
	    left: 0;
	    width: 100%;
	    height: 100%;
	    display: block;
	    content: '';
	    z-index: 1;
	    background-color: rgba(57,107,154,0.5);
	}
}
.pulls_footers_fx{
	// width: 100%;
	// position: fixed;
	// bottom: 0;
	// left: 0;
	// z-index: 1;
}
.at-share-btn-elements{
	a.at-share-btn{
		span{
			margin-bottom: 0 !important;
		}
	} 
}

// page banner
.outers_pg_banner{
	position: relative;
	z-index: 2;
	.page-banner{ 
		height: 400px;
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		position: relative;
		padding: 0;
		.steps-title {
		    width: 100%;
		    position: absolute;
		    top: 50%;
		    left: 50%;
		    -webkit-transform: translate(-50%, -50%);
		    transform: translate(-50%, -50%);
		    h1,h2,h3{
		    	text-align: center;
			    font-family: "trajan-pro-3",sans-serif;
			    font-size: 3em;
			    font-weight: 400;
			    color: #235b8f;
			    text-transform: uppercase;
			    letter-spacing: 0.156em;
			    line-height: 1.250em;
			    margin-bottom: 80px;
			}
		    h1, h2{
				margin-bottom: 20px;
				font-size: 40px;
				color: #fff;
		    }
		    h3{
				margin-bottom: 20px;
				font-size: 25px;
				color: #fff;
		    }
		}

		// Blocks block text
		.blocks_txt_infcs{
			position: absolute; 
			top: inherit; left: 0px;
			z-index: 250;
			width: 100%;
			bottom: inherit;
			top: 12%;
			text-align: center;
			h3{
				margin: 0; padding: 0;
				line-height: 1;
				font-size: 45px; font-weight: 600; color: #fff;
				padding-bottom: 20px; letter-spacing: 1px;
			}
			p{
				margin: 0; padding: 0;
				line-height: 1.2;
				font-size: 28px; font-weight: 400; color: #fff;
				padding-bottom: 5px;	
			}

			a.btns_vwf_slide{
				padding: 0;
				background-color: rgba(128,204,231, 0.9);
				border: 1px solid #fff;
				width: 339px; height: 68px;
				padding-top: 17px;
				font-size: 22px; font-weight: 600; color: #fff;
			}
			a.btns_vwf_slide:hover,
			a.btns_vwf_slide:focus{
				text-decoration: none;
				color: #fff;
				background-color: rgba(128,204,231, 0.95);
			}
			clear: both;
		}

	}
}

.outers_page_static{
	.sub_page_static{
		.right_cont{
			span.sub_page_title{
				margin-bottom: 25px;
			}
			clear: both;
		}
	}
}

// sticky header
.morph header.head{
    position: fixed !important;
    top: 0px;
    left: 0px; width: 100%;
}
.morph header.head {
    background: #fff;
    border-bottom: 3px solid #7ecdea;
    transition: background 0.4s, border 0.4s 0.1s, padding 0.4s;
    padding: 10px 0 0px;
    height: auto;
    z-index: 1000;
    .backs_respons{
        .logo_header_web{
			position: absolute;
			top: -19px;
			left: 0;
			height: 85px;
			overflow: hidden;
        }

    }
    .top_header{
    	height: 0;
    }
    .col-md-6.col-md-offset-6{
    	display: none;
    }
    #searchs_bar{
    	display: none;
    }
    .bottom_header{
    	padding-top: 15px; 
    }
    .top-menu ul li{
    	height: 60px;
    	a{
    		font-size: 16px;
    	}
    }
    .sMenu_header_right.pulls_sticky{
		display: block !important;
		padding-top: 14px;
	}
}


// package list styles

.packages-container{ 
	span{
		display: inline-block;
		margin-bottom: 0;
	}
	.prelatife{
		width: 100%;
	}
  .wrapper{
  	.package-list{
		.package {
		    float: left;
		    width: 31.62%;
		    position: relative;
		    .top span{
			    text-align: center;
				position: relative;
				top: -20px;
			    left: 0;
			    width: 100%;
			    z-index: 10;
			    background-color: #fff;

				left: 0;
				width: 45%;
				z-index: 10;
				margin: 0 auto;
			}
		    .top {
			    text-align: center;
			    position: absolute;
			    top: -40px;
			    left: 0;
			    width: 100%;
			    p {
				    font-family: "trajan-pro-3",sans-serif;
				    font-size: 1.125em;
				    font-weight: 400;
				    line-height: 0;
				    border-bottom: 2px solid #f68722;
				    letter-spacing: 0.156em;
				    text-transform: uppercase;
				    color: #f68722;
				    position: relative;
				    z-index: 1;
				}
			    span {
				    background-color: #fff;
				    padding: 0 20px;
				    font-family: "trajan-pro-3",sans-serif;
				    font-size: 1.125em;
				    font-weight: 400;
				    color: #f68722;
				    letter-spacing: 0.156em;
				    text-transform: uppercase;
				}
			}
		    .package-box {
			    border: 6px solid #e6f5fa;
			    background-color: #fff;
			    .heading{
			        text-align: center;
				    padding: 25px 20px;
				    p {
					    font-family: "proxima-nova",sans-serif;
					    font-size: 1.5em;
					    font-weight: 400;
					    color: #235b8f;
					    letter-spacing: 0.188em;
					    text-transform: uppercase;
					}
				}
				.tagline{
				    height: 45px;
				    display: -webkit-box;
				    display: -ms-flexbox;
				    display: flex;
				    -webkit-box-orient: vertical;
				    -webkit-box-direction: normal;
				    -ms-flex-direction: column;
				    flex-direction: column;
				    -webkit-box-pack: center;
				    -ms-flex-pack: center;
				    justify-content: center;
				    text-align: center;
				    background-color: #e6f5fa;
				    margin-bottom: 20px;
				    font-family: "proxima-nova",sans-serif;
				    font-size: .75em;
				    font-weight: 400;
				    color: #fff;
				    line-height: 0.875em;
				    text-transform: uppercase;
				    letter-spacing: 0.156em;
				    line-height: 1.063em;
				}
				ul {
					list-style: none;
					li {
					    padding: 15px 15px 15px 60px;
					    background-color: #e6f5fa;
					    font-family: "proxima-nova",sans-serif;
					    font-size: 1.1em;
					    font-weight: 400;
					    color: #235b8f;
					    letter-spacing: 0.075em;
					    border-bottom: 2px solid #fff;
					    position: relative;
					    z-index: 2;
					    background-image: url(../images/tick-mark-orange.png);
					    background-repeat: no-repeat;
					    background-position: center left 25px;
					}
					.unavailable {
					    background-color: #fff;
					    opacity: 0.2;
					    border-bottom-color: #80cce7;
					    background-image: none;
					}
				}
				// end package box
			}
			.enquire-btn {
			    width: 100%;
			    text-align: center;
			    margin-top: 10px;
			    border-left: 2px solid #e6f5fa;
			    border-bottom: 2px solid #e6f5fa;
			    a {
				    -webkit-transition: .3s all ease-in-out;
				    transition: .3s all ease-in-out;
				    text-decoration: none;
				    outline: 0;
				}
				a {
				    display: block;
				    background-color: #80cce7;
				    color: #fff;
				    font-family: "proxima-nova",sans-serif;
				    font-size: 1.2em;
				    font-weight: 400;
				    text-transform: uppercase;
				    letter-spacing: 0.156em;
				    padding: 12px 20px;
				}
			}
		}
		.gold {
		    margin: 0 2.56%;
		    .package-box{
			     .heading p {
				    color: #fff;
				    span {
					    font-size: 0.563em;
					    letter-spacing: 0.25em;
					}
				}
				.tagline {
				    background-color: #f68722;
				    width: calc(100% + 10%);
				    margin: 0 -20px 20px;
				    position: relative;
				}
				.tagline:before {
				    position: absolute;
				    top: -20px;
				    left: 0;
				    width: 0;
				    height: 0;
				    border-bottom: 20px solid #f68722;
				    border-left: 20px solid transparent;
				    opacity: 0.5;
				    display: block;
				    content: '';
				}
				.tagline:after {
				    position: absolute;
				    top: -20px;
				    right: 0;
				    width: 0;
				    height: 0;
				    border-bottom: 20px solid #f68722;
				    border-right: 20px solid transparent;
				    opacity: 0.5;
				    display: block;
				    content: '';
				}
				ul{
					li {
					    color: #fff;
					    border-bottom-color: #235b8f;
					    background-color: #4f7ca5;
					}
					.unavailable {
					    background-color: #fff;
					    opacity: 0.2;
					    border-bottom-color: #80cce7;
					    background-image: none;
					}
					.unavailable {
					    background-color: inherit;
					}
				}
				border-color: #f68722;
				background-color: #235b8f;
		    }
		    .enquire-btn {
			    border-left-color: #235b8f;
			    border-bottom-color: #235b8f;
			}
		    .enquire-btn a {
			    background-color: #f68722;
			}
		}
		.platinum{
			.enquire-btn {
			    border-left-color: #80cce7;
			    border-bottom-color: #80cce7;
			}
			.enquire-btn a {
			    background-color: #235b8f;
			}
		} 
  	}
  }
  clear: both;
}

.padding-0{
	padding: 0px !important;
}
.insides_c_content_surgeons{
	.middles {
		.box_listing_surgeons2 {
			.items{
			.desc{
				.doctor_info{
					p > span.certification_dct{
						display: block;
						white-space: nowrap;
						font-size: 13px;
						font-weight: 400;
						color: #747474;
						max-width: 350px;
						overflow: hidden;
						clear: left;
						text-overflow: ellipsis;
						padding-top: 3px;
						margin-bottom: 0px;
					}
				}
			}
				
			}
		}
	}
}

.surgeons_detail_page {
	.blocks_top_detail_surgeons {
		margin-top: 20px; 
		.right_conts { 
			.titles{
				span.certification_dct{
						display: block;
						white-space: nowrap;
						font-size: 13px;
						font-weight: 400;
						color: #fff;
						max-width: 725px;
						overflow: hidden;
						clear: left;
						text-overflow: ellipsis;
						padding-top: 3px;
					}
			}
		}

		.pos_tops{
			position: relative !important;
			top: inherit !important; 
			left: inherit !important;
			.right_conts{
				.titles{
					font-size: 22px; font-weight: 600; color: #235b8f;
					line-height: 1;
					text-transform: capitalize;
					span.certification_dct{
						display: block;
						font-size: 17px; font-weight: 400; color: #235b8f;
						padding-top: 6px;
					}
					height: auto;
					padding-bottom: 10px;
					margin-bottom: 0;
				}
				.descs{
					font-size: 18px; font-weight: 400; color: #235b8f;
					line-height: 1.2;
					p,
					span{
						font-size: 17px; font-weight: 400; color: #235b8f;
						padding-top: 0;
					}
					.blocks_social_surgeons{
						ul{
							li{
								font-size: 17px; font-weight: 400; color: #235b8f;
								a{
									font-size: 17px; font-weight: 400; color: #235b8f; text-decoration: none;
								}
								i.fa{
									color: #000;
								}
								a:focus,
								a:hover{
									text-decoration: none;
									color: #82b3e0;
								}
							}
						}
					}
				}
			}

			.blocks_social_surgeons.rights_cSoc{
				ul{
					li{
						padding: 0 10px;
						a{
							font-size: 35px; color: #82b3e0; text-decoration: none;
							i.fa{
								font-size: 35px; color: #82b3e0; text-decoration: none;
							}
						}
					}
				}
			}
		}
		padding-bottom: 25px;
		border-bottom: 1px solid #a7bdd2;
		margin-bottom: 30px;
		height: auto !important;
	}
}

#back-top{
	bottom: 50px !important;
}


.insides_c_content_surgeons.s_detail{
	.sBox_surgeons_details{
		.tab-content{
			margin-bottom: 0em !important;
			h5.sub_title{
				margin: 0; padding: 0;
				line-height: 1;
				padding-bottom: 18px;
				font-style: 18px; font-weight: 600; color: #235b8f;
			}
			p,
			ul li{
				font-size: 17px !important; 
				font-weight: 400 !important; 
				color: #555f62 !important;
			}
			.abouts_descrip{
				ul{
					list-style-type: disc !important;
					li{
						list-style-type: disc !important;
						padding: 3px 0 !important;
						float: none !important;
						width: auto !important;
						margin-bottom: 0 !important;
					}
					margin-bottom: 0 !important;
				}
			}
			.treatment-area {
				max-width: inherit;
				.body-area {
				    margin-left: 0px;
				    display: -webkit-box;
				    display: -ms-flexbox;
				    display: flex;
				    -webkit-box-orient: vertical;
				    -webkit-box-direction: normal;
				    -ms-flex-direction: column;
				    flex-direction: column;
				    -webkit-box-pack: center;
				    -ms-flex-pack: center;
				    justify-content: center;
				    float: left;
				    text-align: center;
				    // font-family: @Roboto_cond;
				    font-size: 17px;
				    font-weight: 400;
				    text-transform: capitalize; 
				    color: #555f62;
				    letter-spacing: 0.075em;
				}
				.body-area {
				    display: inline-block;
				    -webkit-box-orient: vertical;
				    -webkit-box-direction: normal;
				    -ms-flex-direction: inherit;
				    flex-direction: inherit;
				    -webkit-box-pack: inherit;
				    -ms-flex-pack: inherit;
				    justify-content: inherit;
				    margin-right: 20px;
				    margin-bottom: 10px; 
				}
				.body-area:first-child {
				    margin-left: 0;
				}
				.body-area:last-child {
				    margin-right: 0;
				}

				.body-area .icon {
				    background-color: #80cce7;
				    border-radius: 50%;
				    height: 68px;
				    width: 68px;
				    margin: 0 auto;
				    margin-bottom: 10px;
				    background-repeat: no-repeat;
				    background-position: center;
				}
				.body-area .icon {
				    height: 45px;
				    width: 45px;
				    // margin-right: 5px;
				    // margin-bottom: 10px;
				    // display: -webkit-inline-box;
				    // display: -ms-inline-flexbox;
				    // display: inline-flex;
				    display: block;
				    -webkit-box-pack: center;
				    -ms-flex-pack: center;
				    justify-content: center;
				    vertical-align: middle;
				}
				.body .icon {
				    background-image: url(../images/body-icon-active.png);
				}
				.face .icon {
				    background-image: url(../images/face-icon-active.png);
				}
				.breasts .icon {
					    background-image: url(../images/breast-icon-active.png);
				}
				.other .icon {
				    background-image: url(../images/other-icon-active.png);
				}
			    padding: 0px 0;
			}
			// End treatment area
			clear: both;
		}
		clear: both;
	}
}

.box_rgh_enquiryBlue{
	background-color: #e7f5fa;
	width: 100%;
	.top{
		background-color: #225b8f;
		height: 42px;
		padding-top: 10px;
		h6{
			margin: 0; padding: 0;
			text-align: center;
			font-size: 18px; font-weight: 600; color: #fff;
			text-transform: uppercase;
		}
	}
	.middles{
		padding:15px;
		padding-bottom: 20px;
		form{
			.form-group{
				textarea.form-control,
				input.form-control{
					height: 45px;
					width: 100%;

					font-size: 17px; font-weight: 400;
					color: #225b8f;
					border: 0px; box-shadow: none;
				}
				input.form-control::placeholder{
					color: #225b8f;
				}
				textarea.form-control{
					height: 100px;
					max-height: 105px;
				}
				margin-bottom: 15px;
			}
			button.btns_submt_frm{
				margin: 0;
				display: block;
				width: 100%;
				box-shadow: none; border-radius: 0px; border: 0px;
				font-size: 18px; font-weight: 600; color: #fff;
				text-transform: uppercase;
				background-color: #225b8f;
			}
			margin-bottom: 0; clear: both;
		}
		clear: both;
	}
	clear: both;
}

.maw615{
	max-width: 615px;
}
.flns_cont_enQuire{
	.boxs_form{
		clear: both;
		padding-bottom: 30px;
		form{
			.form-group{
				textarea,
				input,select{
				    border: 0px;
				    box-shadow: none; border-radius: 0px;
				    border: 1px solid #e6f5fa;
				    height: 40px;
					margin: 0;
					font-family: "proxima-nova",sans-serif;
				    font-size: 15px;
				    font-weight: 400;
				    color: #9aa0a1;
				    letter-spacing: 0.156em;
				}
				select{
					background-color: #235b8f;
					text-transform: uppercase; 
					color: #fff;
				}
				textarea{
					height: 100px;
				}
			}
			button.btns_submitFrm{
				margin: 0; padding: 0;
				box-shadow: none; border: 0px; border-radius: 0px;

				font-family: "Proxima Nova",sans-serif;
			    font-size: .875em;
			    font-weight: 600;
			    text-transform: uppercase;
			    letter-spacing: .188em;
			    color: #fff;
			    background-color: #235b8f;
			    padding: 10px 55px;
			    border: 0;
			    border-left: 2px solid #80cce7;
			    border-bottom: 2px solid #80cce7;
			    cursor: pointer;
			}
		}
		.row.default{
			margin: 0 -10px;
			.col-md-6,.col-sm-6{
				padding: 0 10px;
			}
		}
	}
	clear: both;
}

.box_frm_loginNew{
	padding: 50px 0;
	.lines-blue{
		height: 1px;
		background-color: #7ecdea;
		width: 490px;
	}
	form{
		max-width: 270px;
		margin: 0 auto; margin-bottom: 0;
		.form-group{
			margin-bottom: 15px;
			input{
				box-shadow: none; border-radius: 0px;
				background-color: transparent;
				border-color: #b6c8d8;
				font-size: 17px; font-weight: 400; color: #225b8f;
			}
		}
		.checkbox{ text-align: left; }
		label{
			text-align: left;
			font-size: 14px; font-weight: 400; color: #225b8f;
		}
		button.btn{
			margin: 0; padding: 0;
			border-radius: 0px; box-shadow: none; background: none;
			height: 46px;
			width: 100%;
			background-color: #225b8f;

			font-size: 18px; font-weight: 600; color: #fff; text-transform: uppercase;
			padding-top: 8px;
		}
	}
	clear: both;
}

.blocks_txt_infcs{
	position: absolute; 
	top: inherit; left: 0px;
	z-index: 250;
	width: 100%;
	bottom: inherit;
	top: -32%;
	text-align: center;
	h3{ 
		margin: 0; padding: 0;
		line-height: 1;
		font-size: 45px; font-weight: 600; color: #fff;
		padding-bottom: 6px; letter-spacing: 1px;
	}
	h6{
		margin: 0; padding: 0;
		line-height: 1;
		font-size: 35px; font-weight: 600; color: #fff;
	}

	a.btns_vwf_slide{
		padding: 0;
		background-color: rgba(34,91,143, 0.9);
		border: 1px solid #fff;
		width: 180px; height: 48px;
		padding-top: 11px;
		font-size: 16px; font-weight: 600; color: #fff;
	}
	a.btns_vwf_slide:hover,
	a.btns_vwf_slide:focus{
		text-decoration: none;
		color: #fff;
		background-color: rgba(34,91,143, 0.95);
	}
	clear: both;
}

.sub_page.start_journey .blocks_journey.step_7 .middle .list_organised_step7 .items{
	padding: 0 0  35px !important;
}
.sub_page.start_journey .blocks_journey.step_7 .middle .list_organised_step7 .items .descriptions a.btns_purples{
	font-size: 15px;
}
.content-text span.bottoms_tx_share{
	margin-bottom: 8px;
}

.sub_page_static.advertise_us2{
	.mw1170{
		max-width: 1170px;
		width: auto;
		margin: 0 auto;
	}
	.mw985{
		max-width: 985px;
		width: auto;
		margin: 0 auto;	
	}
	.block_default,
	.block_1{
		.lines-grey{
			height: 1px; background-color: #aeb6b9;
		}
		h1,
		h5{
			margin: 0; padding: 0;
			font-size: 30px; font-weight: 400; color: #235b8f;
			line-height: 1.2;
			margin-bottom: 20px;
			text-transform: uppercase;
		}
		.info{
			p{
				margin: 0; padding: 0;
				line-height: 1.4;
				font-size: 18px; font-weight: 400; color: #555f62;
				margin-bottom: 15px;
				b,strong{
					font-size: 20px; font-weight: 600;
					color: #555f62;
				}
			}
		}
		.outs_blocks_info{
			.pict{
				img{
					margin: 0; margin-bottom: 0;
				}
			}
			.info{
				h6{
					margin: 0; padding: 0;
					line-height: 1;
					font-size: 23px; font-weight: 600; color: #235b8f;
					margin-bottom: 10px;
				}
				p{
					margin: 0; padding: 0;
					line-height: 1.4;
					font-size: 18px; font-weight: 400; color: #555f62;
					margin-bottom: 15px;
					b,strong{
						font-size: 18px; font-weight: 400;
						color: #235b8f;
					}
				}
				ul{
					list-style: none;
					margin: 0; padding: 0;
					list-style-image: url(../images/icn_checks_list.png);
					margin-left: 20px;
					li{
						font-size: 18px; font-weight: 400; color: #555f62;
					}
				}
			}
			clear: both;
		}
		
		.outers_list_circles_data{
			.items{
				.circles{
					border: 7px solid #82b3e0;
					border-radius: 75px;
					width: 125px; height: 125px;
					margin: 0 auto;
					span{
						margin: 0; padding: 0; display: block;
						padding: 25px 16px;
						font-size: 42px; font-weight: 600; color: #82b3e0;
					}
				}
				.info{
					padding-top: 15px; text-align: center;
					p{
						margin: 0; padding: 0;
						line-height: 1.4;
						font-size: 18px; font-weight: 400; color: #555f62;
						margin-bottom: 15px;
						b,strong{
							font-size: 20px; font-weight: 600;
							color: #555f62;
						}
					}
				}
				clear: both;
			}
		}
		clear: both;
	}
	.block_4,
	.block_2{
		background-color: rgba(174, 182, 185, 0.07);
	}
	.block_3{
		background-color: #fff;
	}

	clear: both;
}


.insides_c_content_surgeons .middles .box_listing_surgeons2{
	.items.gold{
		.desc{
			background-image: url(../images/back-pink-leftcont_surgeons_pg_gold.jpg);
			border-color: #d3af37;
		}
	}
	.items.silver{
		.desc{
			background-image: url(../images/back-pink-leftcont_surgeons_pg_silver.jpg);
			border-color: #adb6bb;
		}
	}
}
.blocks_right_stepmenu_inside{
	padding-left: 1em;
	.adds_rightCont{
		max-width: 320px;
		p{
			img{
				margin-bottom: 20px !important;
			}
		}
	}
}