a.btn-inverse{
    color: #fff;
}
.breadcrumbs a{
    color: #fff;
}
td.button-column i{
	font-size: 18px;
}
td.button-column a{
	color: #000;
}
td.button-column a:hover{
	color: #d10808;
}
.alert{
	margin-bottom: 5px;
}
.alert ul{
	padding-left: 20px;
}
span.required{
	color: #ff0000;
}
.header{
	overflow: hidden;
}


/*---------- Right Content box block menu ------------*/
.block-rightcontent{
	width: auto;
	border:0px solid #D10808;
}
.block-rightcontent .widgetcontent{
	margin-bottom: 0px;
	padding-bottom: 20px;
}
.block-rightcontent .widgetcontent ul li{
	font-size: 14px;
	font-weight: 500;
}
.block-rightcontent .widgetcontent ul li a.editright{
	float: right;
	text-align: right;
	font-size: 12px;
	font-weight: 300;
}
.box-Seotools .form-horizontal .control-label{
	padding-right: 10px;
	width: 119px;
	text-align: left;
}
.box-Seotools .form-horizontal .controls{
	margin-left: 130px;
}

/*----------------------------- LANGUAGE ------------------------*/
.pj-form-langbar {
    float: right;
    overflow: hidden;
}
.pj-form-langbar-item {
    background: url("../images/pj-form-langbar-item.png") no-repeat scroll 0 0 transparent;
    display: inline-block;
    height: 26px;
    margin: 0 2px;
    width: 30px;
}
.pj-form-langbar-item:hover {
    background-position: 0 -26px;
}
.pj-form-langbar-item-active:link, .pj-form-langbar-item-active:visited, .pj-form-langbar-item-active:active, .pj-form-langbar-item-active:focus {
    background-position: 0 -52px;
}
.pj-form-langbar-item abbr {
    background-position: 0 0;
    background-repeat: no-repeat;
    display: inline-block;
    height: 11px;
    margin: 7px 0 0 7px;
    width: 16px;
}
.pj-form-langbar-tip {
    background: url("../images/pj-form-langbar-info.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: inline-block;
    height: 24px;
    line-height: 24px;
    margin: 1px 2px 0;
    vertical-align: top;
    width: 23px;
}
.pj-multilang-input img {
    border: medium none;
    margin: 0;
    padding: 0;
    vertical-align: top;
}

/*------------------------ Language ------------------------------*/
.dd { position: relative; display: block; margin: 0; padding: 0; max-width: 600px; list-style: none; font-size: 13px; line-height: 20px; }

.dd-list { display: block; position: relative; margin: 0; padding: 0; list-style: none; }
.dd-list .dd-list { padding-left: 30px; }
.dd-collapsed .dd-list { display: none; }

.dd-item,
.dd-empty,
.dd-placeholder { display: block; position: relative; margin: 0; padding: 0; min-height: 20px; font-size: 13px; line-height: 20px; }

.dd-handle { display: block; height: 30px; margin: 5px 0; padding: 5px 10px; color: #333; text-decoration: none; font-weight: bold; border: 1px solid #ccc;
    background: #fafafa;
    background: -webkit-linear-gradient(top, #fafafa 0%, #eee 100%);
    background:    -moz-linear-gradient(top, #fafafa 0%, #eee 100%);
    background:         linear-gradient(top, #fafafa 0%, #eee 100%);
    -webkit-border-radius: 3px;
            border-radius: 3px;
    box-sizing: border-box; -moz-box-sizing: border-box;
}
.dd-handle:hover { color: #2ea8e5; background: #fff; }

.dd-item > button { display: block; position: relative; cursor: pointer; float: left; width: 25px; height: 20px; margin: 5px 0; padding: 0; text-indent: 100%; white-space: nowrap; overflow: hidden; border: 0; background: transparent; font-size: 12px; line-height: 1; text-align: center; font-weight: bold; }
.dd-item > button:before { content: '+'; display: block; position: absolute; width: 100%; text-align: center; text-indent: 0; }
.dd-item > button[data-action="collapse"]:before { content: '-'; }

.dd-placeholder,
.dd-empty { margin: 5px 0; padding: 0; min-height: 30px; background: #f2fbff; border: 1px dashed #b6bcbf; box-sizing: border-box; -moz-box-sizing: border-box; }
.dd-empty { border: 1px dashed #bbb; min-height: 100px; background-color: #e5e5e5;
    background-image: -webkit-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff), 
                      -webkit-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff);
    background-image:    -moz-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff), 
                         -moz-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff);
    background-image:         linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff), 
                              linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff);
    background-size: 60px 60px;
    background-position: 0 0, 30px 30px;
}

.dd-dragel { position: absolute; pointer-events: none; z-index: 9999; }
.dd-dragel > .dd-item .dd-handle { margin-top: 0; }
.dd-dragel .dd-handle {
    -webkit-box-shadow: 2px 4px 6px 0 rgba(0,0,0,.1);
            box-shadow: 2px 4px 6px 0 rgba(0,0,0,.1);
}

/**
 * Nestable Extras
 */

.nestable-lists { display: block; clear: both; padding: 30px 0; width: 100%; border: 0; border-top: 2px solid #ddd; border-bottom: 2px solid #ddd; }

#nestable-menu { padding: 0; margin: 20px 0; }

#nestable-output,
#nestable2-output { width: 100%; height: 7em; font-size: 0.75em; line-height: 1.333333em; font-family: Consolas, monospace; padding: 5px; box-sizing: border-box; -moz-box-sizing: border-box; }

#nestable2 .dd-handle {
    color: #fff;
    border: 1px solid #999;
    background: #bbb;
    background: -webkit-linear-gradient(top, #bbb 0%, #999 100%);
    background:    -moz-linear-gradient(top, #bbb 0%, #999 100%);
    background:         linear-gradient(top, #bbb 0%, #999 100%);
}
#nestable2 .dd-handle:hover { background: #bbb; }
#nestable2 .dd-item > button:before { color: #fff; }

@media only screen and (min-width: 700px) { 

    .dd { float: left; width: 100%; }
    .dd + .dd { margin-left: 2%; }

}

.dd-hover > .dd-handle { background: #2ea8e5 !important; }

/**
 * Nestable Draggable Handles
 */

.dd3-content { display: block; height: 30px; margin: 5px 0; padding: 5px 10px 5px 40px; color: #333; text-decoration: none; font-weight: bold; border: 1px solid #ccc;
    background: #fafafa;
    background: -webkit-linear-gradient(top, #fafafa 0%, #eee 100%);
    background:    -moz-linear-gradient(top, #fafafa 0%, #eee 100%);
    background:         linear-gradient(top, #fafafa 0%, #eee 100%);
    -webkit-border-radius: 3px;
            border-radius: 3px;
    box-sizing: border-box; -moz-box-sizing: border-box;
}
.dd3-content:hover { color: #2ea8e5; background: #fff; }

.dd-dragel > .dd3-item > .dd3-content { margin: 0; }

.dd3-item > button { margin-left: 30px; }

.dd3-handle { position: absolute; margin: 0; left: 0; top: 0; cursor: pointer; width: 30px; text-indent: 100%; white-space: nowrap; overflow: hidden;
    border: 1px solid #aaa;
    background: #ddd;
    background: -webkit-linear-gradient(top, #ddd 0%, #bbb 100%);
    background:    -moz-linear-gradient(top, #ddd 0%, #bbb 100%);
    background:         linear-gradient(top, #ddd 0%, #bbb 100%);
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.dd3-handle:before { content: '≡'; display: block; position: absolute; left: 0; top: 3px; width: 100%; text-align: center; text-indent: 0; color: #fff; font-size: 20px; font-weight: normal; }
.dd3-handle:hover { background: #ddd; }
.dd3-button { position: absolute; margin: 0; right: 0; top: 0; cursor: pointer; width: 50px;
    border: 1px solid #aaa;
    background: #ddd;
    background: -webkit-linear-gradient(top, #ddd 0%, #bbb 100%);
    background:    -moz-linear-gradient(top, #ddd 0%, #bbb 100%);
    background:         linear-gradient(top, #ddd 0%, #bbb 100%);
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    height: 28px;
    line-height: 28px;
    padding: 0px 10px;
}


.dd3-button{
    width: 50px;
    text-align: center;
}
.dd3-button a{
    color: #000;
}
.dd3-button a:hover{
    color: red;
}

/*----------------- PRODUCT --------------------*/
h3.title-product{
    margin-bottom: 0px;
}
p.harga-product{
    margin-top: 0px;
}
input.form-input-nama-produk{
    height: 40px;
    font-size: 20px;
    color: #000;
}
table.table tr td input{
    margin-bottom: 0px;
}
table.table tr td button{
    margin-bottom: 0px;
}
table.table-slim th, table.table-slim td{
    padding: 5px;
}
table.table-slim td a.btn{
    margin-bottom: 0px;
}
/*----------------- REDACTOR --------------------*/
.redactor_span5.redactor_redactor.redactor_editor,.redactor_editor{
    float: none;
}

/*----------------- CSS FORM --------------------*/
p.help-block{
    margin-top: 0px;
}

.shortcuts li{
    text-align: center;
}
.shortcuts li i.icon-cms{
    font-size: 52px;
    margin: 25px auto 18px;
    height: 40%;
    width: 50px;
    background: none;
}

/*--------------- List Bank -------------*/
.it-bank{
    width: 120px;
    height: 34px;
}
.shortcuts.setting li a{
    height: 154px;
}

.bn-bca{
    background: url('../../images/bank_first.png') no-repeat 0px 0px;
}
.bn-bank_mega{
    background: url('../../images/bank_third.png') no-repeat 0px -170px;
}
.bn-bca_syariah{
    background: url('../../images/bank_third.png') no-repeat 0px -272px;
}
.bn-bii{
    background: url('../../images/bank_second.png') no-repeat 0px 0px;
}
.bn-bni{
    background: url('../../images/bank_first.png') no-repeat 0px -68px;
}
.bn-bni_syariah{
    background: url('../../images/bank_third.png') no-repeat 0px -68px;
}
.bn-bri{
    background: url('../../images/bank_first.png') no-repeat 0px -102px;
}
.bn-bri_syariah{
    background: url('../../images/bank_third.png') no-repeat 0px -0px;
}
.bn-cimb_niaga{
    background: url('../../images/bank_first.png') no-repeat 0px -136px;
}
.bn-cimb_niaga_syariah{
    background: url('../../images/bank_third.png') no-repeat 0px -136px;
}
.bn-citibank{
    background: url('../../images/bank_second.png') no-repeat 0px -102px;
}
.bn-danamon{
    background: url('../../images/bank_second.png') no-repeat 0px -68px;
}
.bn-hsbc{
    background: url('../../images/bank_second.png') no-repeat 0px -34px;
}
.bn-mandiri{
    background: url('../../images/bank_first.png') no-repeat 0px -34px;
}
.bn-mandiri_syariah{
    background: url('../../images/bank_third.png') no-repeat 0px -34px;
}
.bn-money_gram{
    background: url('../../images/bank_third.png') no-repeat 0px -204px;
}
.bn-muamalat{
    background: url('../../images/bank_third.png') no-repeat 0px -102px;
}
.bn-paypal{
    background: url('../../images/bank_first.png') no-repeat 0px -204px;
}
.bn-permata{
    background: url('../../images/bank_first.png') no-repeat 0px -170px;
}
.bn-visa{
    background: url('../../images/bank_second.png') no-repeat 0px -136px;
}
.bn-western_union{
    background: url('../../images/bank_third.png') no-repeat 0px -238px;
}

@media screen and (-webkit-min-device-pixel-ratio:0) { 
    ul.yiiPager li.previous a:after{
        content: "<";
    }
    ul.yiiPager li.next a:after{
        content: ">";
    }
}